[2021-11-09 23:06] MrRowey commented on #755
Icons for the presets are being pulled from the textures/ui/common/icons/units folder where there seems to be customer Icons made for the presets and I've tested and it's definitely pulling them from there but dose does not seem to be applying the switch between icons when I've added the btn_down/up/over.dds files but this is a start

[2021-11-09 23:12] MrRowey commented on #3524
With the 4v4 Matchmaker the autolobby by default has Fullshare how are you going to define the none full share playlists as I'm pretty sure I saw a 4v4 with and without full share @BlackYps

[2021-11-09 23:19] BlackYps commented on #3524
The server can send custom options per queue that override the settings in the autolobby file. However if literally every queue should use a specific option it makes the most sense to define it there instead of sending it by the server for every queue.

[2021-11-09 23:25] MrRowey commented on #3524
Ahh ok so by setting the default in their is one less thing your having to overwrite form the server

[2021-11-09 23:34] MrRowey commented on #1190
@Tagada14 If this is still something that doesn't need looking into can you close please :)

[2021-11-09 23:36] MrRowey commented on #1635
@Garanas I don't think they will be immune to AoE much longer after your Chat

[2021-11-09 23:36] MrRowey commented on #2179
@Tagada14 If this is still something that doesn't need looking into can you close please :)

[2021-11-09 23:36] MrRowey commented on #1677
@Tagada14 If this is still something that doesn't need looking into can you close please :)

[2021-11-09 23:37] MrRowey commented on #2408
@Tagada14 If this is still something that doesn't need looking into can you close please :)

[2021-11-09 23:37] MrRowey commented on #2619
@Tagada14 If this is still something that doesn't need looking into can you close please :)

[2021-11-10 00:04] JeroenDeDauw commented on #2619
This defect has a noticeable impact on the gameplay in Survival Versus. Would be nice to have it fixed.

[2021-11-10 07:58] KaukaHan commented on #87
I think auomated balancetesting is not possible cuz, the game is too complex. Every unit has a counter and more than one usecase. Like how do you test  balance for t1 tanks ? Aurora can float and are only strong with (complex) micro. You would have to test them on every map with different strategies. The testscript would evolve into an AI. And then you only test how well the (AI) script handels th

[2021-11-10 08:09] Garanas commented on #2408
We can add a requirement that the building must be 10% finished in order to block a missile, but it feels meh.

[2021-11-10 08:10] Garanas commented on #2619
You (Tagada) can put it on milestone 3727 if you want this addressed.

[2021-11-10 08:11] Garanas commented on #755
Can you create the pull request with the work so far? It makes the discussion easier.

[2021-11-10 14:38] #2408 closed

[2021-11-10 21:18] MrRowey commented on #87
@Garanas Thought on this new Poster :) beat me too it

[2021-11-10 21:22] MrRowey commented on #109
@Tagada14 is this still an issue if not can it be closed off

[2021-11-10 21:25] MrRowey commented on #144
@Garanas Don't see why we need this could be closed off and revised later on if requested

[2021-11-10 21:26] MrRowey commented on #147
@Garanas Thoght on this as a posibility ?

[2021-11-10 21:30] MrRowey commented on #200
@Garanas  Possibly close this off as your aim to do more regular updates to the game as 3-5 people working on the repo is all were probs ever going to get at one time

[2021-11-10 21:48] MrRowey commented on #719
@Garanas this could be closed off

[2021-11-10 21:52] MrRowey commented on #890
@Garanas is this needed when we will have bugsplat in the client next release ?

[2021-11-10 21:55] MrRowey commented on #968
@Tagada14 Close if an issuse

[2021-11-10 21:57] MrRowey commented on #997
@Garanas don't think we need this as we do have the Draw functionality

[2021-11-10 21:58] MrRowey commented on #1040
@Garanas might be something you interested in looking into with perf increasing

[2021-11-10 21:59] MrRowey commented on #1056
@Garanas this can be closed we don't want to clutter the lobby Ui with more buttons and tabs just to make things more confusing

[2021-11-10 22:04] MrRowey commented on #1086
@Tagada14 I would class this as something balance should decide if they want to change or not. if not can you please close

[2021-11-10 22:20] #87 closed

[2021-11-10 22:21] #144 closed

[2021-11-10 22:22] Garanas commented on #147
We do need translations for various languages as a lot of features that are added have no proper translations to other languages. I am keeping this one open, but I'm not sure when we have time to work on this.

[2021-11-10 22:23] #1056 closed

[2021-11-10 22:23] #200 closed

[2021-11-10 22:24] Garanas commented on #719
Is the issue solved though?

[2021-11-10 22:26] Garanas commented on #890
The auto debugger will not cover these type of errors - it triggers on hard-crashes. I am also not confident a linter exists that understands how the game imports files as the `require` mechanic that Lua uses typically is not used.

[2021-11-10 22:26] #890 closed

[2021-11-10 22:28] Garanas commented on #997
This was already available in the GPG era: CTRL + k. Closing it.

[2021-11-10 22:28] #997 closed

[2021-11-10 22:29] Garanas commented on #1040
@Crotalus Do you recall whether you experienced a performance gain? Because you're trading with random read / write.

[2021-11-10 22:43] MrRowey commented on #719
Oh sad the models were provided and seemed to have been fix for the issues but the field was never implemented into faf and not they are no longer available this need a Moder to fix still for the XRB0104 & xrb0204

![image](https://user-images.githubusercontent.com/20344151/141205459-85638176-5970-4b06-8d9b-73b81cf5a263.png)
![image](https://user-images.githubusercontent.com/20344151/141205502-2e8

[2021-11-10 22:57] Garanas commented on #719
What should the modeler do exactly - just remove the _lod1 and _lod0 parts of the root bone?

[2021-11-11 09:26] Tagada14 commented on #968
This is a good idea, balance team will take a look

[2021-11-11 09:31] #1086 closed

[2021-11-11 16:05] Crotalus commented on #1040
Can't remember how much the actual gain was, I guess it would be substantial if someone is using an old disk but with modern SSD it's probably not much.

With patch updates, unzipping the SCDs could be a bit problematic for someone with a slow disk. They are already a bit slow just by downloading / replacing the scds.

Would need something like git or some other diff/rsync/bireus like patching sys

[2021-11-11 19:54] MrRowey commented on #1076
@Garanas Do we really need a Direct Chain for an upgrade for factories ? I've Testes it and seem that when you upgrade to a T2 HQ you don't get the T3 HQ to upgrade it want to upgrade you to a T2 Support

[2021-11-11 20:01] MrRowey commented on #1103
@Garanas Was Unable to Reproduce this, issues must have been fixing at some point let me know if you can reproduce this if not can be closed

[2021-11-11 20:03] MrRowey commented on #1150
@Garanas No information was provided and it not something that causing issues right now so could be closed off and revisited later on after more important stuff it done

[2021-11-11 20:06] MrRowey commented on #1204
@Garanas

[2021-11-11 20:14] MrRowey commented on #1355
@Garanas Can be Closed Spread Attack is Intergraded in faf

[2021-11-11 20:18] MrRowey commented on #1460
@Garanas Didnt they get fixed not so long ago ?

[2021-11-11 20:21] MrRowey commented on #1629
@Tagada14 Please close if not something that needs looking into :)

[2021-11-11 20:34] MrRowey commented on #1631
@Garanas The Advanced Reclaim Info Ui mod is one of the most Downloaded Ui mods is a Must-have. The Mod Adds a Box next to the Income Pannle that shows how much mass/Reclaim is in View of the Camera,
 and it makes Higher mass Value Large and a different colour and makes the 10 mass smaller so it is easy to see

![Untitled-2](https://user-images.githubusercontent.com/20344151/141365199-68bb6763-eab

[2021-11-11 20:47] speed2CZ commented on #1629
If it hasnt been fixed, it needs looking into, other units don't do that. I still got the screenshot.
![ForgedAlliance_2016-10-26_09-54-16](https://user-images.githubusercontent.com/10947024/141366610-7d8b4b58-13ad-479b-960d-e962b1eed4bc.png)

[2021-11-11 20:48] MrRowey commented on #1906
@Garanas Is this something we still want to do ?

[2021-11-11 20:49] MrRowey commented on #1629
Ok nice the image link above was broken so nice to have this image to show the issues

[2021-11-11 20:55] MrRowey commented on #1999
@Garanas Close this a i dont see this being a thing just adds more complexity to the game

[2021-11-11 21:01] MrRowey commented on #2112
@Garanas Close this as it pretty much a duplicate of #2113

[2021-11-11 21:02] MrRowey commented on #2165
@Garanas this can be closed if you don see this getting added any time soon as it exists as a Ui mod for people who want ti at this moment in time

[2021-11-12 04:33] Garanas commented on #1076
I'm not entirely sure what a 'Direct Chain' means?

[2021-11-12 04:34] #1150 closed

[2021-11-12 04:36] #1204 closed

[2021-11-12 04:37] #1355 closed

[2021-11-12 04:38] Garanas commented on #1460
I fixed something similar in LOUD, but I'm not sure if the same applies here. The images no longer work for me - can't see the issue.

[2021-11-12 04:38] Garanas commented on #1631
I can integrate that.

[2021-11-12 04:40] Garanas commented on #1906
No - probably not. I am closing this. If we'd remove the shader code we'd just break the mod.

[2021-11-12 04:40] #1906 closed

[2021-11-12 04:42] Garanas commented on #1999
And it is not possible - we can't change the behavior of patrol.

[2021-11-12 04:42] #1999 closed

[2021-11-12 04:43] #2165 closed

[2021-11-12 09:44] Garanas opened #3537 "Add UI mod support for capping feature"
This would allow UI mods to reliably hook into the capping feature.
 - [ ] Adjust CommandMode.lua to call a function that a UI mod can hook into.
 - [ ] Adjust SimCallbacks.lua to support more structure patterns.
 - [ ] Add an example mod, similar to that of the strategic icons as an example

[2021-11-12 09:48] Garanas opened #3538 "Fix the draw bug"
An annoying bug that has been extensively worked on in the past. It happens when one commander CTRL + Ks and takes the other one with it. Depending on who did it first causes one to win over the other, while they both died and should have resulted in a draw.

[2021-11-12 10:07] MrRowey commented on #1076
@Garanas Direct Chain is a Set Upgrade phat for a building EG most common on is the mex it ass the arrows in and also you can just click the t3 and it dose them in sequence .

![image](https://user-images.githubusercontent.com/20344151/141449478-344fd493-90ab-4fe9-9785-0f24b48001d5.png)

[2021-11-12 10:52] Garanas opened #3539 "Integrate Advanced Reclaim Info"
A requirement for the optimizations of reclaim labels to function. The mod in question hard-hooks the inefficient function.

[2021-11-12 11:17] Garanas commented on #1076
Ah - I see. That doesn't work at this moment. Not sure if this is something we want to add - it is nice, but not a necessity.

[2021-11-13 15:56] 4z0t opened #3540 "Window class TitleGroup scale"
Scale Window TitleGroup on higher resolutions through LayoutHelpers (line 220):
self.TitleGroup.Height:Set(30)  --> LayoutHelpers.SetHeight(self.TitleGroup, 30)
[(https://github.com/FAForever/fa/blob/deploy/fafdevelop/lua/maui/window.lua)](url)

[2021-11-14 10:43] #3524 closed

[2021-11-14 10:47] MrRowey commented on #1631
@Garanas cant you add one of them link thing to close this when the other thing is intergrated

[2021-11-14 10:50] Garanas commented on #1631
I'm going to experiment with the clustering code of Crotalus.

[2021-11-14 20:40] Garanas commented on #3540
Could you make this into a pull request?

[2021-11-15 02:24] MrRowey commented on #1460
@speed2CZ any chance you have the images ?

[2021-11-15 12:47] Garanas opened #3545 "Add clustering to economic overlay"
Add clustering to the economic overlay - this would be better for performance and it allows you to identify clumps of activity more easily when zoomed out. This could piggy-back on the clustering algorithm for the reclaim labels once that is implemented.

![image](https://user-images.githubusercontent.com/15778155/141784445-9120a944-bfaa-473c-aab1-5fe9b04ef656.png)
_an example of the economic over

[2021-11-15 12:52] KaukaHan commented on #2618
maybe boosting the buildpower massivly makes the feature more usefull. This way the fatboy would be more usefull as a forward factory to quikly create a support force.

[2021-11-15 12:55] KaukaHan commented on #2592
isnt this expected behavior ?

[2021-11-15 13:20] KaukaHan commented on #2353
i thing this is not a bad thing. antinukes are cheaper  and faster to build. that makes it difficould to use mass nukes as a gameending move. without this behavior phantom games or other long running games would have a gameenging option less.

[2021-11-15 13:32] Garanas commented on #2592
I agree - walls are supposed to block pathing.

[2021-11-15 13:32] #2592 closed

[2021-11-15 14:10] Garanas commented on #2353
I understand both ends - an SMD should not miss in general. And in practice it never does. In these somewhat extreme scenario's it can show up - which is okay in my opinion. As you let the opponent make that many nukes / you decided to bunker in. And it took them tons of resources to get you out of that bunker. I am closing this issue.

[2021-11-15 14:10] #2353 closed

[2021-11-15 14:11] Garanas commented on #2618
It may help alleviate the issue, but it won't fix it. Perhaps having a dummy unit as part of the fatboy that does the actual construction (and is attached to the Fatboy) is a solution here. When https://github.com/FAForever/fa/pull/3441 is merged we could look into what the possibilities are.

[2021-11-16 07:34] speed2CZ commented on #2618
Exactly like that. Just take it from eq repo if you want to integrate it.

[2021-11-16 13:47] #3429 closed

[2021-11-17 09:31] Garanas opened #3546 "Integrate Advanced Camera Stuff (ACS)"
In particular the build range rings should be added.

[2021-11-18 15:54] RabidPope opened #3548 "Rhino Shots Miss"
Rhino's miss moving targets

Have units moving while the rhino is moving in a diagonal direction and firing at them

The image below shows a rhino missing. It misses 3 times in a row until it changes direction
![image](https://user-images.githubusercontent.com/55444317/142449316-92941bf4-efc4-4773-9329-41c72b06b430.png)
The replay: https://replay.faforever.com/15713773
This only ever seems to happ

[2021-11-19 14:22] Emperor-Penguin1 opened #3549 "Template spacing problem that can result in missing alternating wall-sized structures when a template is created with a combination of wall-sized and larger structures"
When a template is made and it includes t1 pd/wall-sized structures and larger structures, the t1 pd/wall-sized structures get spaced within the template so that alternating ones are seemingly not in the template when they should be.  For example, in this image, you can see a bunch of walls and an SMD on the left and the result on the right when those structures are saved to a template and then pl

[2021-11-19 14:26] Garanas commented on #3482
I am closing this feature request - there has not been sufficient positive responses for the investment.

[2021-11-19 14:26] #3482 closed

[2021-11-19 18:47] Sutrinc commented on #3482
all you had to do was copy the code. Wouldn't get any worse for sure.
you are very strange people.
the game will remain what it is.

[2021-11-19 19:56] #3549 closed

[2021-11-21 22:20] MrRowey commented on #769
@Garanas close as limited by the engine ? i recall some discussion about this on the discord

[2021-11-21 22:22] MrRowey commented on #902
@Garanas dose this still happen with the latest changes you have made to the labels ?

[2021-11-21 22:23] MrRowey commented on #1389
@Garanas can have that new engine unfixable tag

[2021-11-21 22:32] MrRowey commented on #2375
@Garanas this could be a simple fix but assume balance might need to com in on this one

[2021-11-21 22:38] MrRowey commented on #2400
@Garanas Close as pathfinding is engine limited and noting we can do about it ?

[2021-11-21 22:40] MrRowey commented on #2635
@Garanas unfixable tag and close

[2021-11-21 22:43] MrRowey commented on #3129
@Garanas close as it this is engine related and unfixable ?

[2021-11-21 22:48] #769 closed

[2021-11-21 22:49] Garanas commented on #902
Yes it does - and I am not confident if we can or should change this part of the behavior.

[2021-11-21 22:50] #1389 closed

[2021-11-21 22:51] Garanas commented on #2375
@Tagada14 what is your opinion?

[2021-11-21 22:51] #2400 closed

[2021-11-21 22:52] MrRowey commented on #3244
@Garanas change have been merged

[2021-11-21 22:52] #2635 closed

[2021-11-21 22:52] MrRowey commented on #3278
@Garanas cloed with egnine tag

[2021-11-21 22:53] Garanas commented on #3129
Not closing it yet - I think this is related to why stealth fields have an offset. I would not be surprised if vision has a similar offset.

[2021-11-21 22:53] #3244 closed

[2021-11-21 22:53] #3278 closed

[2021-11-21 22:54] MrRowey commented on #3129
chaning the offset didnt seem to do much on my end last time I look but could be wrong

[2021-11-21 22:56] Garanas commented on #3129
I know - but I want to link the issues first / find where that discussion was.

[2021-11-22 10:45] MrRowey commented on #3519
@MrRowey

[2021-11-22 10:47] MrRowey commented on #3399
@MrRowey

[2021-11-22 10:50] MrRowey commented on #3264
@mminguez if you provide me with the translation I can do that :)

[2021-11-22 20:28] MrRowey commented on #2791
@Tagada14 Close this if balance team dose not see this to be changed

[2021-11-22 20:31] Garanas commented on #2791
I'd like to add to it that changing this in favor of t2 / t3 engineers is a reasonable performance gain.

[2021-11-22 21:01] #3411 closed

[2021-11-22 22:25] #3424 closed

[2021-11-23 21:34] MrRowey commented on #1092
@Garanas Just tested this could not recreate this issue so can be closed

[2021-11-23 21:41] MrRowey commented on #1092
Tested with Direct fire onto a striker left it for 2 min and the stun effect was never applied. Issues must have been addressed in a future update

[2021-11-23 21:41] #1092 closed

[2021-11-23 22:52] MrRowey commented on #1673
@Garanas i would assume this has more to do with the server than the FA repose as it's about reporting game completion ?

[2021-11-23 23:03] Garanas commented on #1673
@Askaholic is there something we can do to fix this?

[2021-11-23 23:07] MrRowey commented on #1741
@Garanas as i know you have been looking at the reclaim labels not sure if this might be something you want to check

[2021-11-23 23:14] Askaholic commented on #1673
The server will rate the game as soon as the `GameEnded` gpgnet command is received from all players in the game. So if the game wasn’t rated then it is because the server didn’t receive that message.

[2021-11-23 23:15] Askaholic commented on #1673
Oh lol this is a super old issue. I think both of the issues described here are already fixed on the server.

[2021-11-23 23:16] MrRowey commented on #1673
@Askaholic So i can go ahead and close this issues then pretty much if they are fix on the server

[2021-11-23 23:17] #1673 closed

[2021-11-23 23:26] MrRowey commented on #2146
@Garanas don't see this being something that needed / can even be done with the strategic over lay as it defined in the bp file

[2021-11-23 23:56] MrRowey commented on #3092
@Garanas i can see this just being abused too much to recommend that we just close this

[2021-11-24 00:06] MrRowey commented on #3156
#3415 @Garanas i assume this is fixed with that PR| ?

[2021-11-24 00:13] MrRowey commented on #3171
Closing as duplicate and can follow this issues #3446

[2021-11-24 00:13] #3171 closed

[2021-11-24 06:50] Garanas commented on #3156
Fixed is a big word - the behavior is now the same for all factions. Leaving this one open.

[2021-11-24 06:53] #2146 closed

[2021-11-24 06:54] #3092 closed

[2021-11-24 11:46] Garanas commented on #3085
This would be an interesting feature - what are other opinions about this?

[2021-11-24 11:49] Decafeiner opened #3559 "Request: Possibility to change Chat keybinds"
Hello there,

I was wondering if it was at all possible to include the chat keybinds in the game controls.
Most games I play online allow to open Chat with enter and shift between Team and All chat using Tab, regarding FAF, I'd love to be able to invert the chat keys at least, instead of Enter for All and Shift+Enter for Allies, I'd like to be able to bind Enter to Allies, and Shift+Enter to All c

[2021-11-24 11:55] MrRowey commented on #3559
Can only Changed the  move the chat up/down or page up/down
![image](https://user-images.githubusercontent.com/20344151/143233912-103a230e-f09b-43d1-ab3a-0a3629ccb381.png)

[2021-11-24 20:07] MrRowey commented on #1997
@Garanas does not look like anything was changed but the issues dose not show anything in the log to the error it is showing so I'm inclined to close this.

[2021-11-25 08:10] Garanas commented on #1997
This issue is similar to https://github.com/FAForever/fa/pull/3476 , and it is a hard one to fix as I feel the real issue is with the eco manager mod and not with the repository / the sim.

[2021-11-25 12:43] MrRowey commented on #3548
#3561

[2021-11-25 13:40] MrRowey opened #3563 "Nukes Not launching"
Commets from Forum:

MSG :

CheeseBerry:

[2021-11-25 13:59] Garanas commented on #3563
I think a decent solution to this is having a nuke (or a TML for that matter) always fire on the location you target and not on the unit. I am not entirely sure if this is possible however. I'll investigate.

[2021-11-28 10:43] Auriko opened #3576 "New patch Shocker damage"
https://replay.faforever.com/15807465

Shocker doesn't deal 3000 damage as advertised. It's 2990 instead.

[2021-11-28 22:42] MrRowey commented on #3256
Closing this Issue as is a Duplicate for what is being discussed here #3563

[2021-11-28 22:42] #3256 closed

[2021-11-29 20:26] MrRowey commented on #1896
@Tagada14 is this something that is being looked at for the SACU rebalance ?

[2021-11-29 20:30] MrRowey commented on #1956
@Garanas @Askaholic is this something the server does or is there something in the fa code that need to be altered?

[2021-11-29 20:32] Wesmania commented on #1956
Huh, this issue really deserves to be closed for inactivity at this point, I have no idea if the lobby server still behaves like this.

[2021-11-29 20:38] Garanas commented on #1956
I'm closing it then.

[2021-11-29 20:38] #1956 closed

[2021-11-29 20:46] MrRowey commented on #2325
@Azraeel you know if this is still a bug ?

[2021-11-29 20:49] MrRowey commented on #2940
@Garanas thoughts on this ?

[2021-11-29 21:02] Garanas opened #3578 "Refactor `OnMotionHorzEventChange` of the Unit class"
Description
-------------
This involves the refactoring of [OnMotionHorzEventChange](https://github.com/FAForever/fa/blob/deploy/fafdevelop/lua/sim/Unit.lua#L3143) as defined in the [Unit class](https://github.com/FAForever/fa/blob/deploy/fafdevelop/lua/sim/Unit.lua). The function is called extremely often and it is too generic for its purpose: a lot of the code that is continuously being run does

[2021-11-29 21:04] Askaholic commented on #1956
For the record this was fixed in https://github.com/FAForever/server/pull/511

[2021-11-29 21:42] Garanas commented on #2940
I like the ideas of KionX - but we'd need to walk carefully here.

[2021-11-29 21:43] Garanas commented on #2325
This is likely still a bug. I'll look into it for the patch of January.

[2021-11-30 11:25] Garanas commented on #2045
[code]

Sadly, they map they play is 'unknown' - I'd say it would be part to decipher the cause when that is the case?

[2021-11-30 15:57] Garanas opened #3579 "Refactor various utility functions from the Unit class"
Description
-------------
There are numerous functions inside the unit class that are called throughout the base code. Some of these add little value because they are a getter / setter. Other retrieve the blueprint of the unit while the blueprint has likely already been retrieved throughout the call stack to the function. In other words: it is duplicating work.

Course of action
------------------

[2021-12-02 07:48] Garanas opened #3580 "Refactor `CreateVeterancyBuffs` of the Unit class"
Description
-------------
The function in question performs a lot of table allocations that in turn are used only once. This is the definition of garbage creation and when it happens too often the game starts to stutter. Solving this issue won't empty the bucket, but it will take out a small cup of water.

Course of action
------------------
Refactor the following tables by localizing them at the

[2021-12-02 15:29] KionX commented on #2045
It looks like the unit is being destroyed inside the callback
https://github.com/FAForever/fa/blob/3727/units/URL0001/URL0001_script.lua#L91
I traced the call chain to
https://github.com/FAForever/fa/blob/3727/lua/sim/Unit.lua#L342
Then the pointer is set to nil.

[2021-12-03 03:27] Sheikah45 commented on #109
This is still an issue

[2021-12-03 20:43] #3548 closed

[2021-12-07 14:49] MrRowey commented on #3153
@Garanas this is still an issue, just did some testing the shield bubble is taking from what looks to be about 5% of the damage and the rest is let through the shield to its intended target and just zap it. Also, notice while I had the log open every times it fired it spams this warning in the log

![image](https://user-images.githubusercontent.com/20344151/145051021-f8e39977-29f7-4f2d-aa0c-8d8afd

[2021-12-07 14:58] Garanas commented on #3153
Good find - I'll see if I can fix this before the 20th.

[2021-12-07 15:21] MrRowey commented on #3153
Tested on Update version of FAF Develop -  Waring dose not show :) but still kills units though shield

[2021-12-08 09:04] ChessBerry opened #3592 "ACU Chained Upgrade Assistance - Consumption Bug"
**Describe the bug**
If you upgrade your com from t1 straight to t3, some of the engies assisting it wont update their mass and energy spent after the t2 upgrade is done, instead staying at the (higher) t2 upgrade values.

If you pause and unpause the engies, their spending is reset to the normal values for assisting a com upgrading to t3.

The same happens for other chained upgrades. E.g. T2 into

[2021-12-08 09:07] Garanas commented on #3592
This is likely related to #3447 .

[2021-12-08 09:17] ChessBerry commented on #3592
You can do some interesting stuff with this bug, e.g. getting teleporter on your ACU for only 1.2 million, instead of 1.5 million energy, by building the T2 upgrade first:
![Forged Alliance 08_12_2021 10_11_09 (3)](https://user-images.githubusercontent.com/90977374/145181835-7cb3452b-d42c-4a2e-9644-d79119b76eb1.png)
![Forged Alliance 08_12_2021 10_09_58 (3)](https://user-images.githubusercontent.c

[2021-12-10 19:31] #3592 closed

[2021-12-10 22:45] #3513 closed

[2021-12-10 23:39] Garanas commented on #3153
I found out why this happens - they hacked in how the damage works. Because of that it bypasses any logic, in fact you can make it do double damage (damage an intermediate target and the target you're aiming for).

[2021-12-10 23:57] #3153 closed

[2021-12-14 05:58] 4z0t opened #3608 "Factories assist rework"
Assisting is a good game mechanics saving time and APM, however it has some disadvantages caused by those cases:
* 1. Upgrading factory accidentally ordered to assist another fac with lower tech level drops its upgrade progress.
* 2. Factory building unit and ordered to assist drops progress too.

[2021-12-14 08:50] speed2CZ commented on #3608
Easy fix, hold shift to queue up the assist command as you would queue up any other command.

[2021-12-14 12:28] Garanas commented on #3608
I am closing this issue - speed2 is right.

Next to that, if I am not mistaken then the exact change that is implied by an order (e.g., an assist / guard order in this case) is applied by the engine and we just get informed that it is going to happen (in commandmode.lua). We can not intercept it.

[2021-12-14 12:28] #3608 closed

[2021-12-20 13:37] Tagada14 commented on #3156
The only way to fix it would be to make the hitbox even bigger and that would also make T1 PD's very unbalanced

[2021-12-25 09:50] Brutus5000 opened #3631 "Keep assisted ferry routes alive"
One of the coolest but majorly underused features are ferry routes.

- You can set land factory waypoint to the route to send all units along
- you can set air factories waypoints to the route so new transports assist the ferry route

However: as soon as the initial transport gets shutdown, the ferry is removed completely. This makes investing time into complex routes a lost cause.

Suggestions: e

[2021-12-25 12:40] Garanas commented on #3631
I'm not sure where the beacon interaction is coded. The beacons do exist on the lua side as units, but I can not find where they are created and where they are destroyed. It appears all of this is done by the engine. @The-Balthazar do you have suggestions?

[2021-12-28 21:49] Sheeo opened #3638 "Dialog to inform of base-giving in full share games"
Proxy-issue from Ninrai.

His description:

If a teammate dies in a full share game, create a popup info (similar to when a t4 finishes) to notify the player who received the dead ally's units / buildings about the additional base and units in order to avoid confusion/idle buildings and units.

[2021-12-29 13:22] Garanas commented on #3638
We can do that - what shape should it have? A pop up (that you must interact with) seems undesirable. Would a simple text message / whisper suffice?

[2021-12-30 12:21] Sheeo commented on #3638
Ninrai's comment

I'd add personally I think it should be configurable so experienced players can turn it off if they want :)

[2021-12-30 12:34] Garanas commented on #3638
Always a toggle 😄

[2022-01-03 09:12] ChessBerry opened #3641 "Nuke and SMD pgen adjacency don't work if you build the pgens after"
Building pgens adjacent to an SMD/nuke should reduce its power consumption but doesn't. Moon and me noticed it in this game: 16042407 and I was able to easily reproduce it in this sandbox: 16044635.

Strangely, if you build an SMD/nuke next to already existing pgens, the adjacency bonus does work correctly, but if you build the SMD/nuke first and then the adjacent pgens after, it doesn't. See the

[2022-01-03 09:26] Garanas commented on #3641
Stop breaking the game Cheese.

[2022-01-03 09:26] ChessBerry commented on #3641
Never!

[2022-01-03 12:41] speed2CZ commented on #3641
Duplicate of https://github.com/FAForever/fa/issues/1843

[2022-01-03 14:32] Garanas commented on #3641
What if we'd use the dummy build drone used to gift unfinished experimental units to reset the missile builder when an adjacency change is detected? We could cancel it, restart it and boost it.

[2022-01-07 23:30] Marc-Spector opened #3643 "Clear all newline characters before set game title"
Related to https://github.com/FAForever/downlords-faf-client/issues/2313

[2022-01-08 10:52] Garanas commented on #3643
I'm not sure if you can set new lines through the game. I tried this text:
[code]
And it shows like this:
![image](https://user-images.githubusercontent.com/15778155/148641418-15a2425c-d9f7-4103-9996-c0c2fabf9c8a.png)

The only place I know of where you can change it is here:
![image](https://user-images.githubusercontent.com/15778155/148641432-911ebec3-65f1-4126-9c70-565f44b6406d.png)

What am I

[2022-01-11 21:34] ScoutMoreOften opened #3645 "Map preview in lobby"
The magnifying glass icon in the bottom right corner of the map preview that you need to click on to see the large preview of the map - could this icon be made much bigger? Maybe three times as large? There's no advantage to having it so small and I wouldn't be surprised if some players don't even know it's there.

Also, could we change it so the map preview can be clicked even after you have x-ed

[2022-01-14 13:23] splitice commented on #2045
Another one for the list:

[code]

[2022-01-14 17:24] Uveso commented on #2045
@splitice,

thanks for reporting the error.
Please disable all mods in your game and test again if the error persists.

In case you have the error at 0x005f5d3e at least 2 times without mods, please report it back here.

[2022-01-27 09:49] #3645 closed

[2022-01-27 09:49] #3643 closed

[2022-01-27 14:36] ChrisKitching commented on #719
If memory serves, the issue was that the native code which decides how to target missiles/torpedos would by default select the bone with the name equal to the unit ID.

If that bone does not exist, it would pick the corner of the unit's bounding box nearest the origin, which frequently caused things to miss. At the time, this was causing weapons to very consistently miss some units (notably variou

[2022-01-27 17:08] 4z0t commented on #3638
I would suggest to do a User Sync info about units been given at all, for mod purposes )

[2022-01-27 17:11] Garanas commented on #3638
Can you clarify on that? To allow a mod to hook it?

[2022-01-27 17:16] 4z0t commented on #3638
There are no ways no determine whenever you were given a unit on UI level

[2022-01-27 17:19] Garanas commented on #3638
Ah, I see. What type of UI interaction / callback would you want here?

[2022-01-27 17:22] 4z0t commented on #3638
an if statement in `UserSync.lua` mb

[2022-01-27 17:23] Garanas commented on #3638
And then for each unit given, or for all units given at once?

[2022-01-27 17:28] 4z0t commented on #3638
A way which wont impact on performance, i think. 😁

[2022-01-27 17:29] Garanas commented on #3638
And do you want the unit IDs too? Or just a content: X gave Y Z units

[2022-01-27 17:32] 4z0t commented on #3638
The fact that units were given is enough, i think, but i would  appreciate if its possible to provide with  ids too 😊

[2022-01-30 23:10] MrRowey opened #3655 "Cheat menu Inconsitance Unit Placement"
As I Spoke with Jip When I was Spawning in the unit while holding Shift to spawn a Copy of the unit elsewhere it has a weird interaction of skipping unit for spawning them nowhere near where I click originally as you can see here in this [video](https://www.youtube.com/watch?t=56&v=CpqcRlpJVfk&feature=youtu.be)

Or you can see here in this [replay ](https://replay.faforever.com/16250486) where I'm

[2022-02-02 10:16] Garanas commented on #3655
Managed to reproduce it:

![image](https://user-images.githubusercontent.com/15778155/152134794-72379926-fa4c-4f1d-8d4b-fdfe4f9ba39f.png)

The logs show when a command was issued (because of the build preview) and when the callback was called (to make the unit).  Note that two commands are issued, one with the unit and one that is empty. I'm not sure why the latter is empty. Regardless - after tho

[2022-02-05 09:01] #3655 closed

[2022-02-08 03:30] james-lan opened #3661 "Ping in Lobby is wildly inaccurate, absolutely fine in game."
**Describe the bug**
Lobby will show huge pings, like 1.6k, while in game the pings will all be good (<300 US/Russia US/ANZ) especially when there are few players.

Possibly Wine/Linux related?

**To Reproduce**
Open FAF game lobby, see all the green from pings.

If not kicked for high ping, Game is fine in every game. (Occasional issues others have excluded and one where I messed up on a UI mod t

[2022-02-08 07:45] Garanas commented on #3661
I have not experienced this issue myself and I do not have Linux. The ping is managed by the engine, increasing the size of a ping is therefore not possible. Do you know other people experiencing these issues?

[2022-02-14 17:26] KionX opened #3664 "Massive inappropriate interaction with the metatable of type"
If you add the following lines to config.lua:
metacleanup(false)
metacleanup(dummy)
, errors will be detected.
And if you also uncomment __index, then there will be an indecent lot of errors.

Example:
local a=false or func or anything
a.x=123
print(a.x)

[2022-02-15 04:49] james-lan commented on #3661
As of the past few days it's gone away so I'm closing this. I'm guessing it was my ISP, because nothing has changed other than occasionally different faf-client versions to try to see if it could be a specific version.

[2022-02-15 04:49] #3661 closed

[2022-02-20 21:19] ChessBerry commented on #711
Soo, after some strange games yesterday, I learned of this quirks existence and have a simple question: Did smd/nuke loading behavior get changed since the 2015 discussion above?

In [this test game](https://replay.faforever.com/16406971) I have an income of 169 and a drain of about 200 (actually fluctuating between 182-222 due to the weird smd/nuke mass cost ticks), so I'm stalling about 25% mass

[2022-02-20 21:24] Garanas commented on #711
Make one SMD and have sufficient mass, but not sufficient power. The missile is chopped into smaller and smaller pieces. I'm not sure why - it is engine related. Behavior has not changed as far as I am aware.

[2022-02-20 21:42] ChessBerry commented on #711
@Garanas Yeah I read the past discussion about the weird behavior. What surprised me is the magnitude of slowdown:
An smd that takes half on hour to load when you stall 25% mass (with lots of energy) may as well not exist at all, which is much different from the "this missile loads 10% slower than it should" framing that the 2015 discussion seemingly had.

[2022-02-21 15:46] mankinskin commented on #3093
wow, that cost me a game today, where I sent my commander back, but because it had to move through my forward units, it just stopped moving at one point without me noticing and it got sniped. I thought this was a bug but now at least I know why it happened..

[2022-02-21 20:57] Garanas commented on #3093
Commands can be 'lost' when the pathing system gives up on finding a path.

[2022-02-22 02:27] mankinskin commented on #3093
Would be nice if this could be put in a notification.. can be really critical when units don't execute their orders because there is too much traffic

[2022-02-22 07:49] Garanas commented on #3093
I'm afraid that there is no callback when that happens. Therefore we can not act on it.

[2022-03-08 22:05] Garanas opened #3692 "Introduce range rings at mouse from Additional Camera Tools mod"
**Describe the feature**
It allows you to render various range rings at your mouse location, useful to detect if a unit is in range for something at a given location.

**Screenshots**

![image](https://user-images.githubusercontent.com/15778155/157333480-07d14150-b350-413b-ba57-d50aa64f20b1.png)

**Additional context**

Mod is attached. Code appears to be inside `WorldView.lua`. The idea is that a

[2022-03-10 00:05] MrRowey commented on #3692
question dose this intergrated version scale with buildrange modes as the curent one dose

[2022-03-10 11:07] Garanas commented on #3692
It will once it is implemented

[2022-03-11 10:11] andrew228322 opened #3694 "Launch failed in every automatch."
**Describe the bug**
A clear and concise description of what the bug is. Do not forget to append the game logs.

**To Reproduce**
A clear and concise set of instructions on how to reproduce the issue. Best accompanied with a sandboxed replay. An in-action replay is helpful but not sufficient - the burden to investigate how to reproduce the issue is then moved to the maintainer.

**Expected behavio

[2022-03-11 10:15] andrew228322 commented on #3694
Custom game start well.
Sometime I can play, there log of sucesful starting and ending. But after this game the error repeated.
Good game: [https://forum.faforever.com/assets/uploads/files/1646936983710-game_16526550.log](url)
Failed launch after this game: [https://forum.faforever.com/assets/uploads/files/1646936989571-game_16526890.log](url)
Ice adapter log: https://forum.faforever.com/assets/up

[2022-03-11 10:53] Garanas commented on #3694
It feels to me this issue is in the wrong repository, but I do understand the frustration. @BlackYps if I recall then changes are in the make to tackle issues with the matchmaker, does one of them solve this?

[2022-03-11 13:04] BlackYps commented on #3694
It depends on what exactly caused the failed launches. There is a bug in the ICE adapter that causes connection problems sometimes. Geosearchef is working on a fix, but we don't know when it will be ready. It could also be that other players aborted the game, because they didn't like the map. The planned feature to automatically ban people for a short time from matchmaking if they dodge matches wi

[2022-03-11 13:13] andrew228322 commented on #3694
Understood, big thaks

[2022-03-11 13:27] Garanas commented on #3694
With that, I'll close this issue.

[2022-03-11 13:27] #3694 closed

[2022-03-11 13:36] andrew228322 commented on #3694
a

[2022-03-11 18:30] #3579 closed

[2022-03-18 00:35] #3540 closed

[2022-03-18 20:21] Alex835465 opened #3708 "mass gain chit??"
Hello
Id just open one single replay and saw that mass incom of player Mechmaster (1100) at 11:35 minute dont correspond wiht it must be i think
He has just 8 massextr t2 full storageing. In total 8x9=**72** mass per sec he must to take. +1 from Commander. But we see **90**. How it possible? No reclaiming at that moment.
id 16582299
replay https://replay.faforever.com/16582299

screenshot - https:

[2022-03-20 21:05] 4z0t commented on #3708
Please dont make issues like this here, use forum, and be more attentive, this guy had t3 mex.

[2022-03-20 21:05] #3708 closed

[2022-03-23 11:31] #2380 closed

[2022-03-26 09:42] Garanas opened #3723 "Remove empty functions"
Description
-------------
There are a few functions scattered throughout the repository that look like this:

[code]

They add no value but they do introduce an additional table lookup and function call. These can be removed by removing the definition in the specification of the class.

Course of action
------------------
Look through the class hierarchies for these empty functions and delete them

[2022-03-26 15:48] Garanas opened #3727 "Replace table-trashbags with actual trashbags"
Description
-------------
There are some 'fake' trashbags that are defined in the unit class. These are tables that are re-allocated when they are emptied. That is a bit of a waste, especially as it is done quite frequently.

Course of action
------------------
The tables can be found in the [OnCreate](https://github.com/FAForever/fa/blob/deploy/fafdevelop/lua/sim/Unit.lua#L255) function of the un

[2022-03-26 18:26] Garanas opened #3730 "Benchmarks"
Description
-----------

The repository contains various [benchmarks](https://github.com/FAForever/fa/tree/deploy/fafdevelop/lua/benchmarking/benchmarks). At the moment it requires [a mod](https://gitlab.com/supreme-commander-forged-alliance/other/profiler) to run these benchmarks. The mod is not intuitive to use.

The profiler window has a tab preserved for benchmarks. This tab needs to become fu

[2022-03-27 14:51] #2658 closed

[2022-03-27 14:53] #3638 closed

[2022-03-27 17:55] Garanas opened #3739 "Refactor `CalculateBallisticAcceleration`"
Description
-----------

The base game has an issue with the engine where a bomber can consistently miss its target. This is fixed by manually computing the trajectory to the target. This is done by [this file](https://github.com/FAForever/fa/blob/deploy/fafdevelop/lua/sim/CalcBallisticAcceleration.lua). The file is written with the ease of the developer in mind. With this issue we refactor it for

[2022-03-27 18:58] 4z0t commented on #3664
Also as feature #3711, preallocating memory for tables

[2022-03-28 17:40] #3727 closed

[2022-04-03 09:50] Garanas opened #3757 "Refactor generic effect utility functions"
Description
------------

In `/lua/effectutilities.lua` there are several utility functions that make it slightly easier to work with effects. The functions in question are:
 - `CreateEffects`
 - `CreateEffectsWithOffset`
 - `CreateEffectsWithRandomOffset`
 - `CreateBoneEffects`
 - `CreateBoneEffectsOffset`
 - `CreateBoneTableEffects`
 - `CreateBoneTableRangedScaleEffects`
 - `CreateRandomEffects`

[2022-04-03 10:56] Garanas opened #3758 "Refactor weapon prioritization"
Description
-----------

When weapons are created their priorities are set in Lua code. With thanks to @Strogoo  with commit https://github.com/FAForever/fa/commit/5f44c11d0e806a103024a9fd6cc6807e822a788f some form of caching was already introduced.

But we can go further.

It is important to understand the context. The related functions are:
 - `/lua/sim/weapon.lua` - `SetWeaponPriorities`
 - `/l

[2022-04-05 12:25] Garanas opened #3762 "Refactor `layouthelpers.lua`"
Description
-----------

Usually when we talk about performance we are referring to the sim side of the equation as that is what matters most in practice. It would be a shame however to forget about the UI side, in particular if there is low hanging fruit. For this issue we limit ourselves to `/lua/maui/layouthelpers.lua`.

Course of action
----------------

There are a lot of math operations used

[2022-04-06 17:13] MadMaxFAF opened #3769 "aeon t2 flak ual0205"
![ual0205_og](https://user-images.githubusercontent.com/62246181/162030313-de5d504b-3a3e-4517-9f50-ee836aded32b.gif)

the effect and guns clipping need fixing

[2022-04-06 17:18] MadMaxFAF opened #3770 "set dead is depreciated"
WARNING: SetDead is deprecated: use unit.Dead = true instead.
WARNING: Source: nil
WARNING: Stacktrace:"stack traceback:\
WARNING:         d:\\documents_d\\fa-deploy-fafdevelop\\lua\\sim\\unit.lua(4499): in function <d:\\documents_d\\fa-deploy-fafdevelop\\lua\\sim\\unit.lua:4494>"
WARNING: CheckCanBeKilled is deprecated: use unit.CanBeKilled instead.
WARNING: Source: { table: 230CFDE8
WARNING:   c

[2022-04-06 18:57] Garanas commented on #3769
This is fixed by https://github.com/FAForever/fa/pull/3761.

[2022-04-06 18:57] #3769 closed

[2022-04-06 18:59] Garanas commented on #3770
It is not an error - it is an warning. It is a reminder to future contributors that we have work to do. There are a lot of deprecated functions for various reasons. Some because they are inefficient. Others because they become redundant. Sadly we can never completely remove the function as that would hamper mod compatibility.

[2022-04-06 18:59] #3770 closed

[2022-04-06 19:03] MadMaxFAF commented on #3769
#3761 doesn't fix the clipping tho

[2022-04-07 08:00] speed2CZ commented on #3769
Those effects are suppose to connect in the middle, where the projectile then flies off. Not follow the barrel.

[2022-04-07 08:19] Garanas commented on #3769
So that is what it is trying to do.

[2022-04-07 11:31] 4z0t commented on #3762
Basically `math.floor` must be replaced with local one  (upvalued function) and `:Set(...)` that sets function replaced with `:SetFunction(...)`

[2022-04-07 21:51] MrRowey commented on #147
@Garanas only issuse with this is the Repo dose not have a licence so being able to automate this would require a paid for version or add a licence

[2022-04-07 21:55] MrRowey commented on #496
@Garanas with by uing the foe you cna stop player joining the game. i dont see us adding a vote to kick / dont see it being possible with out abuse

[2022-04-07 21:55] MrRowey commented on #513
@Garanas is this realy a nessasay change that a acu explosion looks too big ?

[2022-04-07 21:57] MrRowey commented on #538
@Garanas didnt i see a mention of new team balanicng featuer being worked on ?

[2022-04-07 21:57] MrRowey commented on #545
@4z0t nice one for you if you could figure it out ;)

[2022-04-07 21:59] MrRowey commented on #703
@Garanas can this be closed now ?

[2022-04-07 22:01] MrRowey commented on #887
@4z0t could this be posible as it would be nice, expecial for TMM

[2022-04-07 22:02] MrRowey commented on #1076
@Garanas im closing this as i dont see this as being somthing that nessasary for the land, air, navy factorys.

[2022-04-07 22:02] #1076 closed

[2022-04-07 22:06] MrRowey commented on #1635
@Garanas didnt you make it so tree were affected by aoe ?

[2022-04-07 22:39] 4z0t commented on #545
I can make a huge crutch that uses edit to display text, but I will try it anyway xd

[2022-04-07 22:41] 4z0t commented on #887
Im afraid it requires some sim stuff and ui provides this info on creation of ui, so, yeah, sim part, i think

[2022-04-08 06:34] Garanas commented on #147
We can't add a license. I'm fond of the idea of having auto-translations, but we likely do not have the funds for it. I am closing it.

[2022-04-08 06:34] #147 closed

[2022-04-08 06:35] #496 closed

[2022-04-08 06:35] Garanas commented on #513
I think Keyser took care of this at some point.

[2022-04-08 06:35] #513 closed

[2022-04-08 06:36] Garanas commented on #538
This is no longer broken.

[2022-04-08 06:36] #538 closed

[2022-04-08 06:36] #703 closed

[2022-04-08 06:37] Garanas commented on #1635
Yes - this is fixed.

[2022-04-08 06:37] #1635 closed

[2022-04-08 06:38] Garanas commented on #545
I'd rather you spent your time on something else, but it is your time 😃 .

[2022-04-08 06:40] Garanas commented on #887
We could do this, but people can ignore any chance we make as the content is available on the UI side. We'd just be 'hiding' it. Therefore any UI mod (like Supreme Scoreboard) would just still show the factions. I am fond of the idea, but I do not think it is safe for matchmaking.

[2022-04-08 06:40] #887 closed

[2022-04-08 06:42] 4z0t commented on #545
Studying for example 😌

[2022-04-08 10:35] #3580 closed

[2022-04-08 11:48] #3578 closed

[2022-04-08 12:32] Garanas commented on #3394
Yes - it was due to a mod in the era where we allowed mods to load in any textures 😄

[2022-04-09 13:08] 4z0t commented on #3391
Close?

[2022-04-09 13:27] 4z0t commented on #799
Who can confirm this bug?

[2022-04-09 13:35] 4z0t commented on #898
Any confirmation of it?

[2022-04-09 13:38] 4z0t commented on #1741
Afaik it works fine now

[2022-04-09 13:46] 4z0t commented on #2119
Any confirmations?

[2022-04-09 13:48] 4z0t commented on #1101
Idk what's the point because link is too old, so i would ask to close it

[2022-04-09 13:50] BlackYps opened #3778 "Change default coop difficulty to medium"
**Describe the feature**
The default coop difficulty (lobby option) is "hard", which is way too hard for a casual player that won't play super efficient. The hard difficulty seems to cater to pro players to give them a challenge, but hey are not the typical demographic of coop players. People regularly complain that they find the coop maps too hard.

**Solution**
Change the default difficulty to m

[2022-04-09 13:52] 4z0t commented on #2937
Recently there was a rework, is issue actual now?

[2022-04-09 14:12] #3391 closed

[2022-04-09 14:13] #1741 closed

[2022-04-09 14:14] Garanas commented on #2119
Doesn't happen anymore.

[2022-04-09 14:14] #2119 closed

[2022-04-09 14:15] Garanas commented on #3778
Wrong repository I think - but I'll make it happen.

[2022-04-09 14:15] #2937 closed

[2022-04-09 14:21] speed2CZ commented on #3778
Btw. medium difficulty won't show up in the leaderboards. Thats also why hard is the default

[2022-04-09 17:26] BlackYps commented on #3778
Then we should probably communicate that somewhere. Still, I think for the first try people would prefer medium difficulty

[2022-04-09 18:14] speed2CZ commented on #3778
Actually, is it possible to get some data on this, rather than guessing?

[2022-04-09 21:37] MrRowey commented on #3778
that interesting did not know that leaderboard only displayed based on the game being played on hard

[2022-04-09 21:55] Garanas commented on #3778
I think it is safe to say that the majority of players can not finish campaign missions on hard. In particular the new missions made by ShadowLord are really tough on hard - so tough that I require cheats myself to test it 😄 .

@Sheikah45 would it be a big change to add text here:

![image](https://user-images.githubusercontent.com/15778155/162592731-b2f2d293-0225-4e0c-8e60-ed59b734d409.png)

That

[2022-04-09 22:37] Sheikah45 commented on #3778
That info would have to be sent from the server based on the game options as the in lobby options determine whether it is ranked or not

[2022-04-09 22:39] Garanas commented on #3778
I mean - a general text message below the leaderboards indicating that only games on hard difficult are part of the leaderboard.

[2022-04-09 22:50] BlackYps commented on #3778
Not sure what data you would want to see here. As Jip said, we know that most players are pretty bad and from my impression people generally play coop to chill rather than to have a sweaty tryhard session.

[2022-04-10 08:53] speed2CZ commented on #3778
That solves one of the many options. Right now, you can say it counts only the default option, one of whish is the hard difficulty.

[2022-04-10 08:55] speed2CZ commented on #3778
Yes, all custom missions are harder on hard, but the rest of the original missions really isn't. In the vanilla campaigns  there are sometimes reports of them being broken, cuz nothing happens, but it's only because there's a lot of time to build stuff on easier difficulties. And the times were set for the vanilla balance, which was much slower.

[2022-04-11 17:36] BlackYps commented on #3778
So your argument is that medium would be too easy?
If we were to set the default difficulty to medium, would that mean that the leaderboards would also change to listing medium games or is that defined somewhere else?

[2022-04-11 19:17] Sheikah45 commented on #3778
The leaderboard requirements are set in the server

[2022-04-13 18:06] Garanas commented on #3576
Fixed in FAF Develop.

[2022-04-13 18:06] #3576 closed

[2022-04-13 18:48] MrRowey commented on #3188
@Garanas this still needed as i know you have a profiler now

[2022-04-13 19:48] Garanas commented on #3188
We literally use `debug.sethook()` for the profiler 😄 .

[2022-04-13 19:48] #3188 closed

[2022-04-17 12:42] #3503 closed

[2022-04-17 12:43] #2109 closed

[2022-04-17 13:12] MrRowey commented on #2407
@Garanas this one fixed ?

[2022-04-17 13:53] Garanas commented on #2407
No, still very much alive.

[2022-04-23 07:27] Cyrris opened #3802 "Cybran T3 Sub - Tac Missiles Bugged"
**Describe the bug**
Cybran T3 Sub's tactical missiles have a bug which prevents them from doing damage. They launch just fine but have an issue on impact.

While trying to investigate a new (probably mod-related) crash since the latest patch release, one of my test game log files became filled with the following error message. Before crashing, it produced this error 27,000+ times.

`warning: Erro

[2022-04-23 09:08] Garanas commented on #3802
I'll make sure to include it in the fix of tonight - thank you for reporting it.

[2022-04-23 16:12] #3802 closed

[2022-04-24 10:27] MostLostNoob opened #3812 "Add bug reporting instructions to patchnotes"
**Describe the feature**
My suggestion (or feature request) is to add bug reporting instructions to the the top of the patchnotes that popup from the lobby whenever a new game patch is released. I often see comments & discussions of issues/bugs in several different places such as aeolus or one of the channels on Discord, but there should be a set process for players to report any issues/bugs that

[2022-04-24 10:57] Garanas commented on #3812
I'm in favor of adding this in - I'll make sure it is implemented for the next patch.

[2022-04-25 13:25] Garanas opened #3815 "Issue with Notify"
**Describe the bug**

The following error pops up in some co-op (Shining Star, as an example) missions:

[code]

It is likely related to #3737 , see also the history of the file:
 - https://github.com/FAForever/fa/commits/deploy/fafdevelop/lua/ui/notify/notify.lua

It prevents the shrinking of the playable area.

**To Reproduce**

Launch missions 5 or 6 of the Aeon campaign. As an example: Shining

[2022-04-25 13:25] Garanas commented on #3815
I'd like to release the fix this weekend - is that possible @4z0t ?

[2022-04-26 15:24] speed2CZ opened #3818 "Air units playing death explosion sound under water"
If air unit is killed over water, it doesn't play the explosion sound when it hits the water (thats when the flash happens) but when it turns into wreck underwater, which should already be without an explosion.

[2022-04-26 15:25] Garanas commented on #3818
I'll look at it.

[2022-04-26 15:32] speed2CZ opened #3819 "Can't create different units at once via cheat menu"
Selecting different units to spawn in the cheat menu at once results only in the first selected units to be spawned.

[2022-04-26 15:38] speed2CZ opened #3820 "Wrong file name"
[code]
This file https://github.com/FAForever/fa/blob/deploy/fafdevelop/effects/emitters/antiair_muzzle_fire_01_emit%20.bp
has a space before .bp, that's what's most likely whats causing this error.

[2022-04-26 15:47] Garanas commented on #3820
Interesting, I've seen that error myself but couldn't determine the cause. I'll try it without the space.

[2022-04-26 16:27] speed2CZ opened #3821 "Tempest animations are too fast"
Both opening and sinking (when killed).

[2022-04-26 18:28] Garanas commented on #3821
No idea what causes this, any suggestions?

[2022-04-26 19:12] speed2CZ commented on #3821
Well the animations got updated, so I assume they got updated wrong?

[2022-04-26 19:14] speed2CZ commented on #3821
https://github.com/FAForever/fa/commit/2eaea3b36a53aca3de3c60f850f440d092822031 this one, it adds all animations, so it prolly changed

[2022-04-27 05:12] The-Balthazar commented on #3819
This issue is specific to your direct-to-command-mode changes that I've not taken the time to look at for integrating into my version of the menu.

[2022-04-27 07:02] Garanas commented on #3819
Ah, I'll look at it then 👍

[2022-04-27 10:32] #3819 closed

[2022-04-27 11:55] Garanas commented on #3812
@4z0t or @Penguin5 could I somehow persuade either of you to pick this up?

[2022-04-27 14:33] #3815 closed

[2022-04-27 16:29] speed2CZ opened #3828 "Minimap always renders health bars"
It shouldn't...
![ForgedAlliance_2022-04-27_18-28-16](https://user-images.githubusercontent.com/10947024/165567511-cfa124b0-63c8-476a-b2f6-bc421d9f8ce3.png)

[2022-04-27 20:03] Garanas commented on #3828
@Strogoo ?

[2022-04-27 21:52] Nizar89 opened #3829 "Invincible T3 Ghetto Gunship"
Hello all,

**Describe the bug**
At the end of a game, a T3 Ghetto Gunship surrounded by SAM, ASF and T1 Fighter did no loose a single HP

**To Reproduce**
Replay: https://replay.faforever.com/16903298
Start around 32min

**Additional context**
I do not think this was intentional.
Player thought it was because the lab destroyed all incoming fire, but it seems unlikely to me based on the absurd amo

[2022-04-28 06:43] Garanas commented on #3829
I'm on it 😃

[2022-04-29 06:57] #3820 closed

[2022-04-29 22:11] Strogoo commented on #3828
Yeah, using `cam_DefaultMiniLOD 0` here was not a good idea.
https://github.com/FAForever/fa/pull/3667/files#diff-4970a1162298ae0f7e20b52a3cc5796fb5f5f0b31253fb196ccced1caca00983R185

As you remember lower LOD value means better graphic. So with `0` it renders everything. I thought it wouldn't be a problem as I disable meshes rendering completely when it's 0, but I forgot about all other stuff lik

[2022-04-29 22:26] Strogoo commented on #3828
Just did some testing, even if minimap is disabled by default and you want to open it during the game, it still works just fine because it goes same way: CreateMinimap() -> cam_DefaultMiniLOD 0 in the end -> next minimap will be broken (but it won't be created anyway, even if you close current minimap and then open a new one, the instance will be the same, as it just use hide/show instead of destr

[2022-04-30 09:18] Marc-Spector opened #3832 "Do not reclaim if the engi is in pausing mode"
The pause in my understanding is the suspension of any active action of a engi or construction for an indefinite time. Why does the engineer ignore the pause mode during the reclaim?

[2022-04-30 09:47] Garanas commented on #3832
Good question - it pauses construction and / or production. But it does not 'pause' other orders, such as movement, attacking or - reclaiming. Would it be desirable if it did so?

[2022-04-30 11:39] Marc-Spector commented on #3832
Yes, it is desirable. When I see that the mass is overflowing, and the engineers have a lot of orders to reclaim, I have no desire to give a stop order, and then again give orders to reclaim again.

[2022-04-30 13:26] Garanas commented on #3832
I'll try and make it work before the release of tomorrow 😄 .

[2022-04-30 19:45] #3812 closed

[2022-04-30 20:30] Garanas commented on #3812
The new changelog has a 'report a bug' button:
![image](https://user-images.githubusercontent.com/15778155/166121641-5181848f-d676-493e-b9ec-761cbb83e10c.png)

That links to this page: https://github.com/FAForever/fa/wiki/Reporting-a-bug

Which is at the moment empty, but I'll add some content there. Great suggestion.

[2022-04-30 21:31] 4z0t commented on #3832
I think it is an issue for balance team as well

[2022-04-30 21:34] 4z0t commented on #847
Afaik all "circles" in the game are not circles at all, they are discrete, so thats why it may accur, vision for example has same issue.

[2022-04-30 21:40] 4z0t commented on #94
Yeah, it is true, they really cause fps drops, I experienced that even having top gpu, the only solution rn is turn off anti aliasing...

[2022-05-01 07:15] MrRowey commented on #847
@4z0t i did exstencive testing they are offset and its hard to visualise the offset as you needed to amke a chn\ge andthen test how far it has moved

[2022-05-01 07:16] MrRowey commented on #356
@4z0t you know if this is still an issuse ? if not i can close it

[2022-05-01 07:18] MrRowey commented on #109
@Garanas is this still an issuse ?

[2022-05-01 07:27] MrRowey commented on #2329
@Garanas or @4z0t this would be a nice QoL imporvement to as a scroll bar to the side rathr than it expanding out side the box

[2022-05-01 15:04] Garanas commented on #3832
I think it is a feature that is broken - but let us ping @Tagada14

[2022-05-01 15:07] Garanas commented on #109
Yes - and it won't be fixed without changing how the fire beetle works.

[2022-05-06 18:38] Garanas commented on #3406
Fixed with the executable available on FAF Develop, closing it.

[2022-05-06 18:38] #3406 closed

[2022-05-07 02:52] LilJoe7k4 commented on #3758
Hello! I submitted PR #3845 for this issue, not sure how to claim an issue through the UI or if I even can, so just replying here to let you know I took a shot at this 😁

[2022-05-07 08:24] #1984 closed

[2022-05-07 08:45] #2328 closed

[2022-05-07 08:49] #3462 closed

[2022-05-07 08:51] MrRowey commented on #2630
Closing this Issues After testing

- Restrictions are working for Radar structures

- Restrictions are working for Sonar structures

- Restrictions are working for Mass Extractors

- Restrictions are working for Shield Structures

[2022-05-07 08:51] #2630 closed

[2022-05-07 09:27] Garanas commented on #3479
Closing this - I have no idea how it happened but it did not happen since.

[2022-05-07 09:27] #3479 closed

[2022-05-07 09:27] Garanas commented on #3445
Fixed with the 3732 release.

[2022-05-07 09:27] #3445 closed

[2022-05-07 09:27] Garanas commented on #3422
Closing this issue - we're slowly but surely caching relevant calls.

[2022-05-07 09:27] #3422 closed

[2022-05-07 09:28] Garanas commented on #3404
Closing this issue.

[2022-05-07 09:28] #3404 closed

[2022-05-07 09:28] Garanas commented on #3402
Gifted units start with their weapons unloaded since 3732.. That prevents the abuse.

[2022-05-07 09:28] #3402 closed

[2022-05-07 09:29] Garanas commented on #3374
Closing this issue as this is supported.

[2022-05-07 09:29] #3374 closed

[2022-05-07 09:29] Garanas commented on #3371
Closing this issue as this has been tackled with game version 3732.

[2022-05-07 09:29] #3371 closed

[2022-05-07 09:30] Garanas commented on #3364
Closing this issue as this has been tackled with 3736.

[2022-05-07 09:30] #3364 closed

[2022-05-07 09:30] Garanas commented on #3344
Closing this issue as this has been fixed with game version 3736.

[2022-05-07 09:30] #3344 closed

[2022-05-07 09:31] Garanas commented on #3282
Closing this issue - @Uveso can you make a pull request to the repository with the changes you made to your mod to fix this?

[2022-05-07 09:31] #3282 closed

[2022-05-07 09:31] Garanas commented on #3280
Closing this issue - it is dated.

[2022-05-07 09:31] #3280 closed

[2022-05-07 09:32] Garanas commented on #3235
Closing this issue as it has dated and it is fixed in game version 3737.

[2022-05-07 09:32] #3235 closed

[2022-05-07 09:33] Garanas commented on #3185
Closing this issue - it has dated.

[2022-05-07 09:33] #3185 closed

[2022-05-07 09:34] Kazbek commented on #3280
Is this fixed?

[2022-05-07 09:34] Garanas commented on #3233
This seems more like a feature then an issue. We'd need to replace the projectile to make this work. What does the balance team want?

[2022-05-07 09:34] Garanas commented on #3179
Closing this issue - unable to reproduce and the issue is dated.

[2022-05-07 09:34] #3179 closed

[2022-05-07 09:35] Garanas commented on #3199
Closing this issue, the fix has been applied by Divran in #3184.

[2022-05-07 09:35] #3199 closed

[2022-05-07 09:36] Garanas commented on #3162
Closing this issue - it has aged.

[2022-05-07 09:36] #3162 closed

[2022-05-07 09:36] Garanas commented on #3176
Closing this issue - it has aged. Everything works as intended at the moment.

[2022-05-07 09:36] #3176 closed

[2022-05-07 09:36] Garanas commented on #3161
Closing this issue - it has aged and I've not heard of it again.

[2022-05-07 09:36] #3161 closed

[2022-05-07 09:37] Garanas commented on #3156
Closing this issue - changes are not desirable. It is also an engine bug.

[2022-05-07 09:37] #3156 closed

[2022-05-07 09:41] Garanas commented on #3149
Closed, after the overhaul of Balthazar this issue has aged.

[2022-05-07 09:41] #3149 closed

[2022-05-07 09:41] Garanas commented on #3102
Closing this issue, it has aged and it doesn't describe a course of action.

[2022-05-07 09:41] #3102 closed

[2022-05-07 09:44] Garanas commented on #3280
I think ZLO is right - this was done intentionally to prevent UI mods from being able to determine the spawn locations.

[2022-05-07 09:44] Garanas commented on #3818
Fixed with 3736.

[2022-05-07 09:44] #3818 closed

[2022-05-07 09:44] Garanas commented on #3829
Fixed with 3736.

[2022-05-07 09:44] #3829 closed

[2022-05-07 09:44] Garanas commented on #3828
Fixed with 3636.

[2022-05-07 09:44] #3828 closed

[2022-05-07 09:46] Kazbek commented on #3280
So even in _reveal type of the game?
And why optimal send correct data to the server?

[2022-05-07 09:46] Garanas commented on #902
Closing this issue - there is nothing we can do against this without introducing significant bookkeeping.

[2022-05-07 09:46] #902 closed

[2022-05-07 09:46] Garanas commented on #908
Fixed with 3732.

[2022-05-07 09:46] #908 closed

[2022-05-07 13:37] Uveso commented on #3282
sure, i will make the PR tomorrow.

[2022-05-07 17:21] #356 closed

[2022-05-07 17:21] MrRowey commented on #356
dated issue, not description provide on how to fix

[2022-05-07 18:08] MrRowey commented on #1102
@Garanas jsut tested this.

if the SACU initiations the build and the drone auto starts to assist the build but if you have any engine assisting that drone it will not assist the build unless the drone is specifically told that it is building the structure

Way I testes is get range of encies assisnt the drone of the SACU then get the SACU to build a nuke all the engies assisng will not assist the

[2022-05-07 18:39] Garanas commented on #1102
Doesn't appear to be something we can / should fix. Just don't assist flying engineer drones.

[2022-05-07 19:47] MrRowey commented on #1102
Yeh it a verry niche case so dont think that it somthing that need to be fixed so could be closed @Garanas ?

[2022-05-07 20:04] #1102 closed

[2022-05-08 11:27] MrRowey commented on #1190
@Garanas this is fixed with your new implementation for mass fabs

[2022-05-08 11:31] MrRowey commented on #1724
could be closed as is an old issue and never heard anyone complaining about this since

[2022-05-08 11:31] MrRowey commented on #1724
@Garanas  could be closed as is an old issue and never heard anyone complaining about this since

[2022-05-08 11:36] MrRowey commented on #1967
Closing as it now shows the total ranks of each team in the Observers box

[2022-05-08 11:36] #1967 closed

[2022-05-08 11:41] MrRowey commented on #2256
Dated issue. not steps to reproduce or had another complaints about it

[2022-05-08 11:41] #2256 closed

[2022-05-08 11:51] MrRowey commented on #2594
@Garanas wasnet this fixed ?

[2022-05-08 12:00] MrRowey commented on #2852
Dated Issues. Tryed to replicated and no errors in log. Closing issue can be reopened if can be reproduced

[2022-05-08 12:00] #2852 closed

[2022-05-08 12:04] MrRowey commented on #2933
dated issues. if reproducible reopen this issue

[2022-05-08 12:04] #2933 closed

[2022-05-08 12:05] MrRowey commented on #2940
Dose anyone actualy use the traitor option ?

[2022-05-08 12:54] #2594 closed

[2022-05-08 12:58] #1190 closed

[2022-05-08 13:23] Garanas commented on #2520
The avatars never made it into the game. We shouldn't anyhow - keep those in the client.

[2022-05-08 13:23] #2520 closed

[2022-05-08 13:26] Garanas commented on #2504
No longer an issue.

[2022-05-08 13:26] #2504 closed

[2022-05-08 13:26] MrRowey commented on #117
@Garanas  ? is this posible or can be closed ?

[2022-05-08 13:27] MrRowey commented on #220
@Garanas cant remember if this is still an issuse

[2022-05-08 13:28] Garanas commented on #2506
Still an issue - we'd need to adjust the goo and the selection size of structures accordingly.

[2022-05-08 13:29] #2484 closed

[2022-05-08 13:30] Garanas commented on #2462
We do not support more than 16 players - and we barely support that in practice. Closing this issue.

[2022-05-08 13:30] #2462 closed

[2022-05-08 13:30] MrRowey commented on #492
@Garanas is this still an issuse with older maps ?

[2022-05-08 13:31] Garanas commented on #2402
This is how silo's work - closing this issue.

[2022-05-08 13:31] #2402 closed

[2022-05-08 13:31] #2398 closed

[2022-05-08 14:17] #2384 closed

[2022-05-08 14:18] Garanas commented on #2780
This is not possible as the lobby (the game) is not aware of what maps are and are not ranked.

[2022-05-08 14:18] #2780 closed

[2022-05-08 14:19] Garanas commented on #2731
Closing this issue - a unit has to stand still in order for them to be repaired. In this example with the CZAR it can stand still, but it is almost impossible for a unit to reach all the way up. That sounds pretty sane to me.

[2022-05-08 14:19] #2731 closed

[2022-05-08 14:20] #2717 closed

[2022-05-08 14:21] #2670 closed

[2022-05-08 14:21] #2668 closed

[2022-05-08 14:22] #2667 closed

[2022-05-08 14:23] Garanas commented on #117
Possible but I'm not touching the hotstats code.

[2022-05-08 14:23] #117 closed

[2022-05-08 14:23] #2381 closed

[2022-05-08 14:24] Garanas commented on #2372
No longer relevant with the new shield implementation.

[2022-05-08 14:24] #2372 closed

[2022-05-08 14:26] Garanas commented on #712
We're so used to the status quo - closing this issue.

[2022-05-08 14:26] #712 closed

[2022-05-08 14:30] Garanas commented on #220
I think Sheeo is referring to hotstats - which works fine.

[2022-05-08 14:30] #220 closed

[2022-05-08 16:02] MHRB135 opened #3850 "[Feature request] columns for each team, sort the team and fast swap each slot (like in Kyrios lobby)"

[2022-05-08 17:14] HUSSAR-mtrela commented on #3539
this issue looks like a duplicate of issue #1631 - Cluster reclaim labels

[2022-05-08 18:19] MrRowey commented on #2251
dated issue. not steps on hot to reporduce

[2022-05-08 18:19] #2251 closed

[2022-05-08 18:20] MrRowey commented on #2252
Dated Issuse

[2022-05-08 18:20] #2252 closed

[2022-05-08 18:24] MrRowey commented on #2189
@Garanas Move to Coop

[2022-05-08 18:25] #2237 closed

[2022-05-08 18:26] #88 closed

[2022-05-08 18:27] #244 closed

[2022-05-09 09:41] ChrisKitching commented on #492
If memory serves, this ticket isn't a map issue (anyone can create a map that lacks ai markers), it's an issue with the lobby UI not warning you that you probably shouldn't play a game with AI on such a map. But only in the case where you:
- select the map
- then add the AI.

AI markers are metadata added to maps to give the AI hints on how to play. The AI plays very stupidly on a map which lacks

[2022-05-09 12:05] 1-alex98 commented on #3176
https://github.com/FAForever/fa/blob/c03958dacbec35e92ee7050a3c21314ed687c632/lua/ui/dialogs/score.lua#L566
just makes the code more complex

[2022-05-09 13:19] Garanas commented on #492
Still there - it would be a nice quality of life feature for the AI players.

[2022-05-10 19:14] #136 closed

[2022-05-10 19:22] MrRowey commented on #1356
@4z0t would this be a simple add ?

[2022-05-10 19:44] slinkingant opened #3854 "SMD's are targeting but missing nuke's (1.5.3736)"
**Describe the bug**
While playing FAF-develop v1.5.3736, SMD's are not able to hit incoming nukes

**To Reproduce**
See replay's. Build a Nuke and try to shoot it down.

**Expected behavior**
Nukes being shot down by SMD's

**Screenshots**
![smdmisses](https://user-images.githubusercontent.com/12718976/167707440-5125b068-b600-4fdc-9ee3-9bea31238e84.png)

**Additional context**
Initial game: https

[2022-05-10 19:48] Garanas commented on #3854
Likely related to https://github.com/FAForever/fa/pull/3847 , I am on it 😄

[2022-05-10 19:57] #3854 closed

[2022-05-10 22:49] RHode007 opened #3856 "Drop connection to faf because of map id from vault"
**Describe the bug**
I coppied map id from vault and paste it in lobby chat then faf client and ice lost connection to servers, faf reconnect itself after sec and need just reconnect to game

**To Reproduce**
1. join lobby
2. go to vault and copy any map id (via right button on id in client)
3. paste in lobby chat and send

**Expected behavior**
its just a message?

**Additional context**
game_.lo

[2022-05-11 05:40] Garanas commented on #3856
Could you add a screenshot? I've never been able to copy a map id

[2022-05-11 08:12] MrRowey commented on #3856
![image](https://user-images.githubusercontent.com/20344151/167800938-71430e40-db94-4a69-a1ff-80e6bb8460b8.png)
So i assume this is the MapID if so tried to reproduce and could not get this error. Host & Joined lobby Could not reproduce the same issues

[2022-05-11 09:17] Garanas commented on #3856
I tried it with a copy of the replay id - can't make it malfunction with that either.

[2022-05-11 12:04] RHode007 commented on #3856
Seems comma fix the problem, but i dont have it in russian
win 11 faf client 2022.4.1

![image](https://user-images.githubusercontent.com/19503512/167838081-0a8f31b6-c746-4ad6-b82d-9e4d81ab9393.png)

![image](https://user-images.githubusercontent.com/19503512/167839054-bda5cfc3-37e2-4cae-a1c9-ba19e127fa30.png)

![image](https://user-images.githubusercontent.com/19503512/167841486-f02d62c5-dd5c-488

[2022-05-11 12:15] MrRowey commented on #3856
This is a client issues as that is just an id of number for me and with your language setting seems to cause the issue. @Sheikah45

[2022-05-12 08:27] hahn-kev opened #3858 "Interest in a fork of the Lua extension for VS Code?"
Hi, I've been watching some of the coding videos on youtube and I noticed that the Lua editing experience isn't that great. I also saw in the deployment setup that using the Lua extension is not recommended. Text here

Would there be interest if I were to take an existing extension (with permission) and fork it for use for working on FA?

For reference I've been working on an extension for modding

[2022-05-12 14:24] Garanas commented on #3858
Absolutely! Once the extension is taking shape we can actively promote it using the same coding videos.

@Askaholic has already done some work in the past to adjust a Lua distribution to match the syntax of FA. You can find that here:
 - https://github.com/FAForever/lua-lang

 It is used at the moment to perform a basic syntax check for the Lua files of this repository.

 I've tried myself in the

[2022-05-12 15:41] hahn-kev commented on #3858
Awesome, this sounds like it'll be a fun project.

The lua-lang repo will be helpful as a reference, but since it's C based it would probably be more work to use it than to just modify an existing extension already made for vscode. To start off I'll make a repo for it under my account and publish it as a vscode extension under my own account also, mostly just because that's the most convenient for

[2022-05-12 17:47] Garanas commented on #3858
The ones described in the [instructions](https://github.com/FAForever/fa/blob/deploy/fafdevelop/setup/setup-english.md), which is essentially none that are directly related to Lua.

Sounds good to me. There's a history / changelog in the adjusted lua distribution that keeps track of what was changed. That should give you an initial pointer on what is different.

As I have no experience with a func

[2022-05-12 21:54] MrRowey commented on #888
dated issues

[2022-05-12 21:54] #888 closed

[2022-05-12 21:55] MrRowey commented on #968
@Tagada14 Maybe this can be relooked at if not a priority or happy with how it is the issues can be closed

[2022-05-12 21:57] MrRowey commented on #1040
@Garanas Can this be closed if it only provides minimal performance gain ?

[2022-05-13 10:38] hahn-kev commented on #3858
Makes sense to me. Actually I've had some good luck with tweaking some settings and making a plugin for this [extension](https://marketplace.visualstudio.com/items?itemName=sumneko.lua) which is very feature rich. However it's a bit of a hack to get it working even this far so I may still fork it, I'm not sure yet. I'm still looking into it however.

He's an example showing autocomplete from an im

[2022-05-13 11:56] Garanas commented on #3858
This is already exciting 😄 !

There are a few initialization files that determine the global scope of all files.
 - simInit: https://github.com/FAForever/fa/blob/deploy/fafdevelop/lua/simInit.lua
 - simInit, hooked: https://github.com/FAForever/fa/blob/deploy/fafdevelop/schook/lua/simInit.lua
 - userInit: https://github.com/FAForever/fa/blob/deploy/fafdevelop/lua/userInit.lua
 - userInit, hooked:

[2022-05-14 17:05] MadMaxFAF commented on #2988
i have linked mediamix here who is currently doing some work on factories and hqs im happy to look at the non factory ones

[2022-05-14 17:07] MadMaxFAF commented on #2834
is this list still upto date?

[2022-05-14 17:47] Penguin5 opened #3864 "Active silos' adjacency bonuses don't refresh properly"
I tried looking into #3641  / #1843, but I made this new issue because they seem to mischaracterize the problem a bit.  In my testing, active silos (sml/smd/tml) don't gain or lose adjacency bonuses from new/destroyed pgens/etc until they start building a new missile (ie: they cancel the current missile and restart, or finish it and start building a new missile).  There may be other triggers that

[2022-05-14 19:51] Garanas commented on #3864
This is a known issue - there was an extremely extensive post on this somewhere. Maybe @Strogoo knows where it is

[2022-05-14 19:52] Garanas commented on #2834
None are ticked off, so I'd say it is.

[2022-05-14 19:53] Garanas commented on #2988
Sounds good, I'm lookin forward to the pull request 😄

[2022-05-14 23:28] MrRowey commented on #3864
#1843

[2022-05-15 00:03] MrRowey commented on #784
A part of linked issues on why this happens.

[2022-05-15 00:03] #784 closed

[2022-05-16 14:05] speed2CZ opened #3871 "Error when spawning Riptides on the water"
[code]

[2022-05-17 15:07] #3758 closed

[2022-05-17 16:07] hahn-kev commented on #3858
Alright, I can now say with confidence that I can get this to work for you. It does require building a binary to ship the extension, so I might take a few shortcuts on that and provide the extension as a file you can download and install manually, but it would only work for windows unless there's a big need for other platforms, but I'd need help testing that.

The only thing I really have to do be

[2022-05-17 18:56] MrRowey commented on #755
@Garanas i think the best way to implement this would be to create a Clone of the SACU and rename them and add those to the Quantum gate which would allow for the effect to work. just to how this was first implemented you can only have a single image and not the switch between ones like for the normal sacu

[2022-05-17 18:59] MrRowey commented on #1863
Dated issuse

[2022-05-17 18:59] #1863 closed

[2022-05-18 10:45] KionX commented on #3858
local Control = import('control.lua').Control
local ScaleNumber = import('layouthelpers.lua').ScaleNumber

[2022-05-18 12:05] Ejsstiil commented on #3858
Maybe if we can set the root folder for project. In the .editorconfig perhaps... That way all paths with starting slash can be "absolute" inside VScode project

[2022-05-19 15:36] speed2CZ opened #3877 "Offline saves of missions don't load correctly"
Running the coop missions offline gives the advantage save and load the game later. Most people play online, but few still use it.
Now it's broken that when you load the save, the objective panel is missing and you see the normal skirmish score. Also the AI breaks with some errors and you can't continue the mission.

I did test it on the first aeon mission (Joust)
- start the game offline in skirm

[2022-05-19 15:51] Garanas commented on #3877
How did you test this exactly?

[2022-05-19 15:58] speed2CZ commented on #3877
- pick a patch of game repo with git
- start the FA.exe with the coop dev init (merge of faf dev and coop init files)
- select skirmish, pick mission, launch game, save/load

[2022-05-21 12:23] speed2CZ opened #3878 "Dead submarine in the factory is not sinking"
It does not always happen, idk what exactly triggers this.

[code]

![ForgedAlliance_2022-05-21_14-19-32](https://user-images.githubusercontent.com/10947024/169651307-4a1edadf-42d0-4cea-be3f-7af187c38477.jpg)

[2022-05-23 12:07] MrRowey commented on #1427
Closing this isssue as it not a Currnt issuse that people are having and it the system works as intended

[2022-05-23 12:07] #1427 closed

[2022-05-23 19:08] Garanas commented on #3877
I've looked at loading / saving of skirmish games (with AIs) - those appear to work fine. I'll look co-op later.

[2022-05-24 11:11] speed2CZ opened #3886 "Mobile factories don't destroy unit they produce when they die"
- spawn mobile factory
- start producing unit
- kill mobile factory

![ForgedAlliance_2022-05-24_13-09-23](https://user-images.githubusercontent.com/10947024/170021479-b5c0ebb6-2492-4049-9b1f-fd1bcd6b61cd.jpg)
![ForgedAlliance_2022-05-24_13-08-38](https://user-images.githubusercontent.com/10947024/170021484-f5a71cf3-ea8c-4647-ac1f-5e8eb41272de.jpg)

[2022-05-24 18:56] Penguin5 opened #3888 "Shield miscalculations"
https://replay.faforever.com/17121095
It appears that at 13:14, a com with ~2200 hp fully under an active parashield with 100% shield strength and sufficient energy to maintain the shield, dies when 2 notha shots hit the shield bubble of the parashield.

![image](https://user-images.githubusercontent.com/72904368/170110398-54cf3930-f2a2-4f1f-9910-726274b1cd94.png)
![image](https://user-images.gith

[2022-05-26 21:19] namidaka opened #3900 "Crash during a 6v6 game"
**Describe the bug**
No idea why that happened.

**To Reproduce**
Don't know how to reproduce

Here's the crash report

info: UI_Lua import("/lua/ui/game/chat.lua").ChatPageUp(10)EXCEPTION_ACCESS_VIOLATION (0xc0000005) at address 0x00423190
    attempted to read memory at 0x427c000c

Program : C:\ProgramData\FAForever\bin\ForgedAlliance.exe
Cmd line arguments : /init init.lua /nobugreport /log C:\

[2022-05-26 21:32] atomar94 commented on #2853
Should this be closed?

[2022-05-26 22:45] MrRowey commented on #2853
closing Issue Based on PR for this issue has been closed in favor of a different PR

[2022-05-26 22:45] #2853 closed

[2022-05-26 22:47] namidaka commented on #3900
Just got another one. Game is unmodded.
I'm using the DualScreen Option.
This time i crashed when a commander died.

info: UI_Lua import("/lua/ui/game/chat.lua").ChatPageUp(10)EXCEPTION_ACCESS_VIOLATION (0xc0000005) at address 0x00423190
    attempted to read memory at 0x427c000c

Program : C:\ProgramData\FAForever\bin\ForgedAlliance.exe
Cmd line arguments : /init init.lua /nobugreport /log C:\Use

[2022-05-27 10:53] KionX commented on #3900
It looks like the textures were not created. Possible lack of video memory.
I recommend enabling the Use FAF Debugger client option. Perhaps this will give more information at the next crash.

[2022-05-27 13:39] namidaka commented on #3900
I'm suspecting Voicemeeter Potato to be the culprit. I made a second windows install with only :
1) Steam
2)Firefox
3) Supreme Commander
4) Faf
5) Most recent amd video driver
and was able to complete a game without a crash.
I will keep playing on the second install because crashing every game got me fed up. If i get the same crashes on the second install, i'll post an update with the faf debugger

[2022-05-28 21:43] namidaka commented on #3900
Managed to get a crash on my second Decluttered windows fresh Install . This time i had the faf debugger in with what seems meaningfull data
[game_17155042.log](https://github.com/FAForever/fa/files/8792200/game_17155042.log)

[2022-05-28 22:07] KionX commented on #3900
Looks like a driver failure. I don't think it's the FA's fault.

[2022-05-29 16:15] namidaka commented on #3900
Starting to get desesperated...
[game_17161883.log](https://github.com/FAForever/fa/files/8793741/game_17161883.log)
Is there a chance Disabling dual screen in the game help with the crashes @KionX ?

[2022-05-29 17:06] KionX commented on #3900
Overclocking, overheating, power surges and dips, memory exhaustion, third-party software, graphics settings, radiation...
I don't know what will help. There can be many reasons.

I have RADEON ADRENALINE and Windows 10. There was no problem with the driver.

[2022-05-29 17:14] Sheikah45 opened #3902 "Cybran Sub Missles Bug"
From Laissez-Fairy

**Describe the bug**
Sorry to bother you with this, but I am too lazy to go through the proper channels: Bug report: cybran sub-missiles currently deal no damage. Checked for static launcher, MML, and nuke sub, true in all cases. Also present in Develop, though I only checked with static launcher to confirm there

[2022-05-29 17:47] Garanas commented on #3902
I'll look at it.

[2022-05-31 18:19] speed2CZ opened #3914 "Chat window not scaled properly"
100%
![ForgedAlliance_2022-05-31_20-16-52](https://user-images.githubusercontent.com/10947024/171256933-87832592-bc6b-44a0-827e-ecb2dd717b41.png)
150%
![ForgedAlliance_2022-05-31_20-15-33](https://user-images.githubusercontent.com/10947024/171256947-749dac05-9d8c-45c4-b18c-c49a0f6d010b.png)

[2022-05-31 18:21] Garanas commented on #3914
I've seen this before - the scale is likely applied twice.

[2022-05-31 18:23] speed2CZ opened #3915 "Autobalance button icon is too big"
If you look at the other buttons, they all have same size icons and then there is autobalance
![ForgedAlliance_2022-05-31_20-21-22](https://user-images.githubusercontent.com/10947024/171257820-af65bce8-64dc-473d-a013-ba38302a63d8.png)

[2022-05-31 18:27] Garanas commented on #3915
@Penguin5 could you pick this one up?

[2022-05-31 19:59] speed2CZ opened #3917 "Seraphim T3 mass fab is rotating even when disabled"

[2022-06-01 13:13] speed2CZ opened #3919 "Error with mass fabs"
Happens when AI army spawns/build a mass fab. In coop, aka campaign, which uses slightly different initialization than skirmish. But the AI armies should still not be human.
[code]

[2022-06-01 13:23] speed2CZ opened #3920 "Patchnotes button missing tooltip"
`WARNING: No tooltip in table for key: lob_patchnotes`
![ForgedAlliance_2022-06-01_15-22-32](https://user-images.githubusercontent.com/10947024/171414825-941f68d5-4b2d-4ae5-b3e2-81c29d8dd2c0.png)

[2022-06-01 14:16] Garanas commented on #3920
@MrRowey your time is now

[2022-06-01 14:17] Garanas commented on #3919
This is an easy one - I'll include it with #3897

[2022-06-02 09:28] speed2CZ opened #3922 "Extra E storage"
Start the game, delete ACU and you sill have 100 E storage

[2022-06-02 09:43] speed2CZ commented on #1460
Probably these
![ForgedAlliance_2016-08-30_16-12-15](https://user-images.githubusercontent.com/10947024/171602805-8a8c9536-f8b2-4e56-90e0-5a11b9bbb1b1.png)
![ForgedAlliance_2016-08-30_16-17-39](https://user-images.githubusercontent.com/10947024/171602825-4a49c219-946e-46e8-9071-82a17af41275.png)

[2022-06-02 10:16] Garanas commented on #3922
This is intended, as the new system for shields require you to have at least some e storage.

[2022-06-02 10:16] #3922 closed

[2022-06-02 11:54] speed2CZ commented on #3922
Whats the new system for shields?

[2022-06-02 14:07] namidaka commented on #3900
Leaving this here in case someone has to go through the sama hassle. Disabling dual Screen in the game did the trick . 20+ game without a single crash when i used to get 1 out of 2 games.

[2022-06-03 17:39] #3920 closed

[2022-06-03 20:04] Ejsstiil commented on #3850
What if you want 4 teams?

[2022-06-04 18:03] #719 closed

[2022-06-05 10:23] speed2CZ opened #3928 "UEF engineers spawned on water don't switch to water configuration"
They should play the animation where their threads move below their body.
Now it happen only when you spawn them on land and then move to water.

Cybran engineers that have the same feature work correctly.

[2022-06-05 10:31] speed2CZ opened #3929 "Wrong build boxes of UEF naval factories"
(support factories on the screenshots)
T1- T3 from left to right
![ForgedAlliance_2022-06-05_12-28-04](https://user-images.githubusercontent.com/10947024/172046249-c2d9866f-f1ea-41cd-bf89-e89ac3dd2bb0.jpg)
![ForgedAlliance_2022-06-05_12-28-28](https://user-images.githubusercontent.com/10947024/172046253-15302ca5-f696-4805-b154-5eeda9fb594d.jpg)

[2022-06-05 21:23] MrRowey commented on #201
#3930

[2022-06-06 02:51] Garanas commented on #201
Safe to say: the policy has changed as per the board meeting of end of May.

[2022-06-06 02:51] #201 closed

[2022-06-08 09:53] MrRowey opened #3934 "Add ReplayID to Scoreboard"
I know by hoving over the map name the ReplayID is located there but if someone is watching a cast tournament video coverage being able to see the exact replay would be beneficial as this is already a thing that's a part of the supreme scoreboard mod. plus would make my life easier as Promo Team when uploading tournament coverage and knowing the exact replay for that game.
A clear and concise desc

[2022-06-08 11:25] #3858 closed

[2022-06-08 12:54] speed2CZ opened #3935 "UI in coop is broken"
Latest deploy/fafdevelop

UI in all missions breaks when the cinematics intro ends
[code]

[2022-06-08 17:50] Hdt80bro commented on #3762
https://github.com/FAForever/fa/pull/3936#issue-1265083181

[2022-06-08 19:43] #3935 closed

[2022-06-08 21:11] #3919 closed

[2022-06-08 23:16] Hdt80bro commented on #3934
Something like this?
![image](https://user-images.githubusercontent.com/37224614/172732907-e1ba64be-415c-4dd7-8566-4b3ac33801a6.png)
Or are you talking about a more drastic UI rewrite.

[2022-06-08 23:28] MrRowey commented on #3934
@Hdt80bro Yes this is what I'm looking for. but i know what what jip wants to do by redoing the scoreboard

[2022-06-08 23:37] Hdt80bro commented on #3934
Yeah, I do too. I was just trying to quickly rearrange the text and anchor the id to the right of the score panel. But it turns out that there's several things competing for that corner. For instance, if the observerLine is showing, then the resource switcher moves up (for some reason) creating void space that needs to be filled. Unless the ranked icon is showing, then it should anchor to that...

[2022-06-09 06:45] Hdt80bro commented on #2189
We're already adjusting the map size to the playable area in the score panel, so all we'd need to do is move that change listener to a more central place to get the minimap working (since score.lua doesn't create a UI for the campaign, hooking in there won't work). I've already worked up a playable-area change callback system that'd sit in gamemain.lua and also got functioning callback methods to

[2022-06-09 06:50] Garanas commented on #2189
I agree - it is a bit much.

[2022-06-09 06:50] #2189 closed

[2022-06-11 14:24] Garanas opened #3940 "Sanitize LODCutoff of various blueprints"
Description
-----------

As per #3912 all of the game files are now part of the repository. It revealed a couple of skeletons in the closet, one of these skeletons will be described with this issue: the **L**evel **o**f **D**etail (LOD) of meshes. We've been looking at these properties before, but then in relationship to [effects](https://github.com/FAForever/fa/pull/3720).

Separate mesh blueprin

[2022-06-11 14:38] speed2CZ commented on #3940
Could you try to implement some scaling for high res monitors? Since the normal values are too low. This is smth that might not cause desync

[2022-06-12 12:59] #3929 closed

[2022-06-12 13:02] Garanas commented on #3917
I think this is how the unit was made - they rotate slower, but they don't stop.

[2022-06-12 13:30] #3902 closed

[2022-06-12 13:41] #3928 closed

[2022-06-12 13:48] #3871 closed

[2022-06-12 13:51] Garanas commented on #3886
I can't reproduce this - the units appear to be removed accordingly.

[2022-06-12 13:52] Garanas commented on #3856
Closing this issue - I think Sheikah is right here.

[2022-06-12 13:52] #3856 closed

[2022-06-12 13:52] Garanas commented on #3850
I agree that it is better, but at the moment we don't have the man power to properly tackle the lobby.

[2022-06-12 14:15] Garanas commented on #3888
Closing this issue as I consider it to be unfixable, neither from Lua or from an engine patch.

[2022-06-12 14:15] #3888 closed

[2022-06-12 22:47] MrRowey commented on #968
#3927

[2022-06-12 22:50] #664 closed

[2022-06-12 22:52] MrRowey commented on #1358
Already a Autoboot playes

[2022-06-12 22:52] #1358 closed

[2022-06-12 22:53] MrRowey commented on #1460
@Garanas Images have been re added

[2022-06-12 22:54] MrRowey commented on #1677
Closing Issues for now Balance Team Can reopen if needed

[2022-06-12 22:54] #1677 closed

[2022-06-12 22:58] MrRowey commented on #1901
Closing issues for now Balance Team Can Re Open if they intend to fix

[2022-06-12 22:58] #1901 closed

[2022-06-12 23:01] MrRowey commented on #2110
@Garanas this still posible ?

[2022-06-12 23:02] MrRowey commented on #2179
Closing for not Balance team can Reopen if needed

[2022-06-12 23:02] #2179 closed

[2022-06-12 23:06] #2368 closed

[2022-06-12 23:12] #2502 closed

[2022-06-12 23:16] MrRowey commented on #2618
Balance Team Can Reopen if this is a feature they want to add

[2022-06-12 23:16] #2618 closed

[2022-06-12 23:18] #2789 closed

[2022-06-12 23:26] #3132 closed

[2022-06-12 23:28] MrRowey commented on #3264
can be reopen if translation provided

[2022-06-12 23:28] #3264 closed

[2022-06-13 05:18] speed2CZ commented on #2110
It should be possible to keep counting the damage while the death animation plays

[2022-06-13 06:25] Garanas commented on #1460
This is more an issue with the previews not being rendered in orthographic mode, then an issue with the markers. I don't think we can do anything about this.

[2022-06-13 06:28] Garanas commented on #2110
Yep, this is still happening. And Speed is right - we can fix it by keeping track of the damage.

[2022-06-13 06:49] speed2CZ commented on #2110
Worst case scenario could be losing the damage on the tick when the unit is turned into the wreck. But that's just a maybe and it would be pretty hard to time correctly.

[2022-06-13 06:56] Garanas commented on #2110
That is so precise - if someone manages to do that then they deserve it.

[2022-06-13 09:17] speed2CZ commented on #3886
I can reproduce it every time in current fafdevelop

[2022-06-13 10:03] Garanas commented on #3886
On FAF Develop, see replay: https://replay.faforever.com/17278778
https://user-images.githubusercontent.com/15778155/173329980-b584c956-2fa3-41c3-91ef-8a9b1a1a1320.mp4

Looking at the code the unit is not destroyed separately, but neither does that happen for non-mobile factories. What am I missing that I can't see the lingering health bar?

[2022-06-13 18:54] marvin4ward opened #3953 "EXCEPTION_ACCESS_VIOLATION (0xc0000005)"
EXCEPTION_ACCESS_VIOLATION (0xc0000005) at address 0x00423190
    attempted to read memory at 0x3c3f7335

Program : C:\ProgramData\FAForever\bin\ForgedAlliance.exe
Cmd line arguments : /init init.lua /nobugreport /log C:\Users\user\AppData\Roaming\Forged Alliance Forever\logs\game_17279995.log /gpgnet 127.0.0.1:58979 /mean 892.581 /deviation 108.167 /savereplay gpgnet://127.0.0.1:58981/17279995/de

[2022-06-13 19:04] MrRowey commented on #3953
@marvin4ward Can you please provide a description to what happened when you got the error ?

[2022-06-13 22:17] JeroenDeDauw commented on #2618
I think this was misclassified as a balance issue. It is a usability issue, and arguably a bug.

[2022-06-13 22:51] MrRowey commented on #2618
you could say the same to the Czar, and Air craft carriers and with it being like this since the game came out id classify it more as a balance deciding than a bug. @Garanas thoughts

[2022-06-14 07:55] Garanas commented on #2618
I'd consider it a bug, but we're so used to it that it may the balance is constructed around the idea that these units do one or the other.

I've tried solving it myself, but to no avail.

[2022-06-14 16:31] marvin4ward commented on #3953
The game just hangs, nothing special happens during the match before the game hangs. Other playes, seems continue the match.

[2022-06-14 19:10] #3953 closed

[2022-06-14 19:25] KionX commented on #3953
Here is the only successful solution to such a problem that I know of: https://github.com/FAForever/fa/issues/3900#issuecomment-1144910285

[2022-06-15 09:15] speed2CZ opened #3957 "Inconsistent transports Attachpoint bones"
This bugs affects only AI, and currently the platoon AI for the units that aree to be transported can sometimes softlock because the AI is not able to load the units on the transports.

- I found a problem with at least T2 Aeon transport (uaa0104) and T3 UEF transport (xea0306)

**First some explanation of how transports work:**
Transport table in the bp determines how many T1 slots will T2 and T3

[2022-06-15 09:19] Garanas commented on #3957
@MadMaxFAF could you pick this up? Seems like a small change that we can include in the release

[2022-06-15 09:20] Garanas commented on #3957
@speed2CZ if I am correct, then the solution is to move the large attachment bone slightly so that the four nearest small attachment bones are unique over all large attachment bones?

[2022-06-15 09:23] Garanas commented on #3957
@Sprouto this may interest you too, if you haven't already fixed it for LOUD

[2022-06-15 09:24] speed2CZ commented on #3957
Yes, it's for both Lrg and Med bones, just make sure they will never fight over the small bones.

[2022-06-15 09:29] speed2CZ commented on #3957
@MadMaxFAF and the Continental just needs bones cleansing, since it has
12 Lrg bones and 24 Med bones
while it should have just 6 / 12
![ForgedAlliance_2022-06-15_11-28-02](https://user-images.githubusercontent.com/10947024/173794268-8e6bfafd-5850-4ece-b6b4-8148679b5b9e.jpg)

[2022-06-15 09:46] The-Balthazar commented on #3957
The issue with the Continental is that `GetNumTransportSlots` doesn't take into account `Class3AttachSize` and `Class2AttachSize` from the bp. All you'd be doing by removing the extra bones is removing attach arrangement options, and breaking any mods that mess with the class attach limits.

Floor divide small by the class sizes and then take the smallest number out of the number of bones and that

[2022-06-15 10:24] The-Balthazar commented on #3957
[UAA0104_Aopen01Fix.zip](https://github.com/FAForever/fa/files/8908404/UAA0104_Aopen01Fix.zip)

[2022-06-15 11:58] MadMaxFAF commented on #3957
@speed2CZ so what needs doing here if im reading this correctly i just need to make the bones the same as the t2 just times 2 or  do i need to do something else going off of what @The-Balthazar has said

[2022-06-15 12:02] Garanas commented on #3957
Add the file of Balthazar, I'll do the script part in the pull request you make.

[2022-06-16 09:29] marvin4ward commented on #3953
dual Screen - could be the case. I liked that mode for more ways control the situation.
Thank you for the hint.

[2022-06-17 15:38] #3957 closed

[2022-06-17 17:44] Hdt80bro commented on #3519
I'm using
[code]
and can't tell a difference.
Mathematically, there's only a difference when the second degree of change of the height map is non-zero, and even then, only a big one when the skirt contains the inflection point (i.e. a hill or valley), which is what we're trying to fix.
Of course, I haven't done any vigorous testing. I wish I could load replays into my dev environment, but I unders

[2022-06-20 20:33] martinpost opened #3982 ""Mercy" Guided Missile targeting issues"
Mercys don´t always deploy when reaching target and fly over intended target, turn back and tray again to only fail again.

**To Reproduce**
Take some mercys and target com or sub com(possibly appears in other instances too but tested with them).

**Expected behavior**
When reaching intended target expect them to deploy, but they don´t.

**Additional context**
Test in sandbox https://replay.fafore

[2022-06-20 21:21] MrRowey commented on #3982
Issuse is Know

[2022-06-20 21:47] Garanas commented on #3982
Yeah, but I thought I fixed it. But apparently I did not.

[2022-06-22 19:34] #1040 closed

[2022-06-22 19:37] MrRowey commented on #921
Old issues, If still an issues can be reopened with updated info

[2022-06-22 19:37] #921 closed

[2022-06-22 19:39] MrRowey commented on #1629
@Garanas can this be close with recent changes ?

[2022-06-22 19:39] #1645 closed

[2022-06-22 19:40] #1724 closed

[2022-06-22 19:45] MrRowey commented on #2113
Duplicated

[2022-06-22 19:45] #2113 closed

[2022-06-22 19:47] MrRowey commented on #2314
duplicate

[2022-06-22 19:47] #2314 closed

[2022-06-23 12:52] Garanas commented on #1629
No, the issue is still there. I'm not sure how the guard return radius is adjusted, but it feels like the weapon range is added to the return radius. And that makes it a very, very large return radius. We'd need to experiment with it, maybe even try making it negative.

[2022-06-24 18:42] #545 closed

[2022-06-24 22:41] RabidPope opened #3997 "Medusa don't stun if they die before projectile hits."
If a medusa fires a shot and then dies, the shot wont stun.

To reproduce, make a medusa fire a shot and ctrl k it.

Tried it with the aeon bomber and it does not have the same bug.
![Medusa shot](https://user-images.githubusercontent.com/55444317/175719656-3f7c5960-019c-42f0-b3a6-75ed22ae9261.png)

[2022-06-25 07:19] #3762 closed

[2022-06-25 07:43] speed2CZ opened #4001 "UI Shield issues"
**Shield shows full when disabled**
![ForgedAlliance_2022-06-25_09-40-02](https://user-images.githubusercontent.com/10947024/175763858-6c55699f-dc60-4120-8de0-b40740d6d956.png)

**To Reproduce**
Turn off the unit shield in the UI

**Can't toggle shields on multiple different units**
Toggling shield on this set of units does nothing
![ForgedAlliance_2022-06-25_09-59-13](https://user-images.githubus

[2022-06-25 09:43] Hdt80bro commented on #3997
Here it is: https://github.com/FAForever/fa/blob/deploy/fafdevelop/lua/sim/Projectile.lua#L596
The destroyed Shimmer falling through the air still counts as a launcher, but a Medusa on the ground turns into a wreck immediately.

[2022-06-25 15:43] RabidPope commented on #3997
So im guessing the stun value needs to be stored in a variable on the projectile when fired?

[2022-06-25 21:05] Hdt80bro commented on #3997
The problem is that area buffs need an instigator to determine the army, and when the launcher dies, there's nothing left. You *could* use the projectile itself, except that it isn't a unit. This is a requirement that makes sense for literally all buffs except `STUN`. All the `AddBuff` method does with the unit when it's a stun type is get its army, which we can easily extracted from the projectil

[2022-06-25 22:06] Hdt80bro commented on #3850
I'd be willing to pick it up. I just don't know what we want to have happen in all of the edge cases. In particular, it changes teams being a per player thing to players being a per team thing. How would we handle FFA? More than 2 teams? Survival maps or sandbox mode? Different game layouts per map? How much information would need to be provided by the map maker and what do we do when they don't p

[2022-06-25 22:12] Hdt80bro commented on #3739
@jkstpierre are you handling this? Otherwise, it looks like a lovely thing to work on heheheh... I'll try to keep it readable.

[2022-06-25 23:49] Garanas commented on #3739
Hold your toes - I may be refactoring this entire approach with Spikey of the balance team.

[2022-06-26 00:15] Hdt80bro commented on #3739
Aww, alright.
Enjoy~

[2022-06-26 07:26] speed2CZ opened #4006 "Wrong scale for lobby map preview tooltip background"
Im on 1.5 UI scaling

![ForgedAlliance_2022-06-26_09-19-12](https://user-images.githubusercontent.com/10947024/175804085-3e7cb551-3d24-499e-997e-aed7c90bc06c.png)

[2022-06-26 15:06] Armaghast-0 opened #4010 "No ACU explosion"
**Describe the bug**
Sometimes, when killed or ctrl-k, an ACU does not create an explosion. Unsure if visual only or not.
Does not always happens.

Happens on game id #17369152, at 26:19, with jackhammer2k ACU.

Log extract:

[code]

**To Reproduce**
Kill commanders, not clear link. Maybe a difference if Ctrl-K ?

**Expected behavior**
When an ACU is killed, an explosion always occurs.

**Addition

[2022-06-26 15:44] #4010 closed

[2022-06-26 21:05] JaggedAppliance commented on #2500
Woah great news!

[2022-06-27 12:42] speed2CZ opened #4012 "Error when GC dies"
It might not happen every time.
[code]

[2022-06-27 12:56] speed2CZ opened #4013 "Error when ACU dies"
Doesnt happen every time
[code]

[2022-06-27 14:54] #3723 closed

[2022-06-29 18:45] speed2CZ opened #4014 "Army HQ restrictions are not properly refreshed when unit:Destroy() is called directly"
This code https://github.com/FAForever/fa/blob/deploy/fafdevelop/lua/defaultunits.lua#L692-L708
runs when the unit is killed, but if you call directly unit:Destroy(), it is skipped

I suggest changing the callback to OnDestroy

[2022-06-30 07:14] Garanas commented on #4014
All of those things shouldn't be callbacks all together 😄 , it needs some refactoring.

[2022-06-30 13:47] Garanas commented on #3940
@speed2CZ You can enable 'experimental graphics' in the graphics options menu (at the bottom) to see meshes from further away.

[2022-06-30 13:47] #3940 closed

[2022-06-30 14:10] speed2CZ commented on #4014
I thought it is already refactored and that broke it, since this worked before :D

[2022-07-01 13:16] Tagada14 commented on #2179
We are planning on rebalancing the snipers either for July patch or one after it so there is a high chance this will be addressed in some way. Can Keep it closed for now.

[2022-07-01 13:18] Tagada14 commented on #1677
Yeah, I don't see this as a bug or something that should be changed. Thanks for closing the issue.

[2022-07-01 16:08] MrRowey commented on #799
Closing for now Balance Team Can Re open if needed

[2022-07-01 16:08] #799 closed

[2022-07-01 16:10] MrRowey commented on #1782
Closing for Now Balance Team Can reopen if needed

[2022-07-01 16:10] #1782 closed

[2022-07-01 16:10] #1896 closed

[2022-07-01 16:12] MrRowey commented on #2299
Closing for now Balance Team Can Re open if needed

[2022-07-01 16:12] #2299 closed

[2022-07-01 16:13] #2521 closed

[2022-07-01 16:14] MrRowey commented on #158
Dulicated isssuse

[2022-07-01 16:14] #158 closed

[2022-07-01 16:17] MrRowey commented on #642
Duplicate issuse

[2022-07-01 16:17] #642 closed

[2022-07-01 16:18] MrRowey commented on #898
Dated Issue Closing for now can be reopened if needed

[2022-07-01 16:18] #898 closed

[2022-07-01 16:19] MrRowey commented on #1352
Closing issue for now as not planned addition

[2022-07-01 16:19] #1352 closed

[2022-07-01 16:21] MrRowey commented on #1717
Closing issuse as cant do anything to prevent this

[2022-07-01 16:21] #1717 closed

[2022-07-01 16:22] #1968 closed

[2022-07-01 16:23] #1970 closed

[2022-07-01 16:24] MrRowey commented on #2062
@Garanas  Transfure  issuse to Coop

[2022-07-01 16:24] #2155 closed

[2022-07-01 16:26] MrRowey commented on #2279
Dated Issuse

[2022-07-01 16:26] #2279 closed

[2022-07-01 16:27] #2316 closed

[2022-07-01 16:27] #2336 closed

[2022-07-01 16:31] MrRowey commented on #2397
@jip / @MadMaxFAF  ?

[2022-07-01 16:34] #2893 closed

[2022-07-01 19:00] Garanas commented on #2397
![image](https://user-images.githubusercontent.com/15778155/176954794-b5d73ee1-0f73-4859-ac38-4cbc8cc703a7.png)

We can adjust the collision box while it is being constructed. At the moment, the animation causes the entire unit to 'sit', while the collision box is still up there.

[2022-07-01 19:02] Garanas commented on #2279
I'd say this isn't a bug - this is choice the engine made: repairing the builder has a higher priority than assisting the unit it is building.

[2022-07-01 19:13] Garanas commented on #799
This is an issue, and one we can't fix.

[2022-07-04 07:25] Garanas commented on #2500
@JaggedAppliance Would it be an issue if the reclaim statistics is not 100% accurate? It appears that the time spent reclaiming is not in sync with the engine callbacks that we have, because of that our computations always over estimate it by 1 or 2 ticks worth of reclaiming.

[2022-07-04 09:19] Tagada14 commented on #2371
I don't see why bombers that drop bombs should have an attack radius, I also don't see a point in corsairs having one tbh.

[2022-07-04 09:25] Tagada14 commented on #2791
There was a discussion about a similar proposition in the balance team when I first joined and the consensus was that it's not something we want to implement. Instead, we buffed the build range of higher-tech engineers. I will see what the rest of the Balance team thinks about it now.

[2022-07-05 13:17] speed2CZ opened #4019 "Error with Aeon mobile shield dying on water"
[code]

[2022-07-07 22:05] MrRowey commented on #1229
@Garanas this was fixed now correct ?

[2022-07-11 18:28] #2342 closed

[2022-07-11 18:28] #4012 closed

[2022-07-12 12:15] MadMaxFAF opened #4042 "sera aircraft carrier planes clipping"
description of bug - when the sera aircraft carrier deploys the planes start clipping through the top of the model

To Reproduce - deploy air craft from a carrier happen every time

Expected behaviour - planes need to spawn in lower or be hidden for longer

Screenshots -
![image](https://user-images.githubusercontent.com/62246181/178487324-dc491400-dd35-43ce-89eb-4838bae2a2f6.png)

[2022-07-12 23:22] Hdt80bro opened #4045 "Track differences between Engine documentation and Moho"
Classes
-----
The engine documentation for classes is pretty good right now-- if it's in `/engine/Sim*` it's generally sim-side only, if it's in `/engine/User*`, user-side, and `/engine/Core*` for both. It's not quite perfect though.

**Core**
 * Blueprints (currently in Sim)
    * [BeamBlueprint](https://github.com/FAForever/fa/blob/deploy/fafdevelop/engine/Sim/Blueprints/BeamBlueprintDefinition.

[2022-07-13 08:17] Garanas commented on #4045
And the values as part of the [import](https://github.com/FAForever/fa/blob/deploy/fafdevelop/lua/system/import.lua#L7) mechanic, including `__diskwatch`.

And once you're in game, `__EngineStats` as populated by the engine.

[2022-07-13 16:58] Hdt80bro commented on #4045
Would we like to document items that the engine interacts with, but does not define? An example would be https://github.com/Hdt80bro/fa/blob/annotate-engine/user.lua/engine/User/CMauiEdit.lua#L158-L191

[2022-07-14 19:37] Katharsas commented on #1804
Can we reopen this?

@aeoncleanse
- Do we have anybody that can tell me what i need to do with sound so i can reproduce this? Maybe using specific hardware devices width specific sound settings?
- Do we now how long it usually takes for this error to happen? Do we know if more sounds being played increases the chance? In that case i would need to find/make a test map / coop mission that plays as m

[2022-07-20 12:06] Garanas commented on #4045
Yes - that is very useful! There are a lot of strange Lua / engine interactions with unit functions

[2022-07-20 13:46] Garanas opened #4060 "Improve targeting bones of resource generating structures"
Description
------------

Targeting bones are used for weapons to aim at. Bones are defined in the mesh (`.scm`) file. The targeting bones are defined in the unit blueprint. As an example:

[code]

![image](https://user-images.githubusercontent.com/15778155/179995175-73f75552-f634-4296-903e-1821f3f873ac.png)
_Targeting bones that are inside their collision box of an UEF Tech 3 power generator_

Wh

[2022-07-20 14:15] MadMaxFAF commented on #4060
and inside the mesh too

[2022-07-20 14:18] Garanas commented on #4060
Added 👍

[2022-07-22 10:35] Garanas opened #4066 "Adjust behavior of transports"
Description
-------------

All transports in the base game have an extensive hit box to prevent attached units from soaking up direct fire, causing the transport to live a lot longer than it should. A side effect of this is that splash damage can often not reach the attached units, in turn flak and other splash-damage based weapon often only deal damage to the transport and not to the attached uni

[2022-07-22 15:25] Garanas opened #4067 "Targeting bones"
_This issue is under construction_

Description
-------------

A unit blueprint can have the field `AI.TargetBones`. The field is a table of strings, referencing bones that can be used by weapons to aim at when they want to fire at the unit. If the field is not set, the aiming point is determined by taking the position of the root bone + 0.5 * `SizeY`, which is again a field in a unit blueprint. T

[2022-07-23 07:19] Hdt80bro commented on #3433
What should happen when the sACU is in the shoal? Would we need to rework the effects to make it transition from having a smoke ring to not? Otherwise, if it's a hard transition, like if we simply guarded [this](https://github.com/FAForever/fa/blob/deploy/fafdevelop/effects/Entities/SCUDeath01/SCUDeath01_script.lua#L49) when the unit's underwater, it might look funny.

[2022-07-23 07:24] Hdt80bro commented on #3538
Is this the one we were testing?

[2022-07-23 08:28] MrRowey commented on #3433
If the unit is under the water would think that just behaving the unit explosion with out dust cloud makes sense

[2022-07-23 08:32] Hdt80bro commented on #3433
Sorry, I meant if the unit is only partially underwater. What happens then? When do we stop drawing the smoke ring?

[2022-07-23 17:12] Hdt80bro commented on #4067
I'll check all the UEF AI bones

[2022-07-23 17:55] Garanas commented on #4067
👍 , I'm going to finalize the description in a bit!

[2022-07-23 17:56] MrRowey commented on #4067
Was going to look at the Aeon Stuff waiting for description to be finalised :) + list of any that are already done

[2022-07-23 17:58] MrRowey commented on #3433
well unless their a way to having different stages where the unit is fully under the water compared to paddling on the beach I would assumes if in water no smoke ?

[2022-07-23 18:07] Hdt80bro commented on #3433
Sure, we can try that
![image](https://user-images.githubusercontent.com/37224614/180617563-834a9235-58a7-4ef5-9463-1c81ea96be0e.png)
This look good?
[code]

[2022-07-23 18:24] MrRowey commented on #3433
Yes this looks pretty good in my option as soon as the SACU head is under the water the make sense for their to be not dust cloud

@Garanas thought with this way of implementing it ?

[2022-07-23 18:30] Garanas commented on #4067
@Hdt80bro / @MrRowey Go for it 👍.

The shields (via https://github.com/FAForever/fa/pull/4063) and transports (via https://github.com/FAForever/fa/pull/4058) have already been tackled. Everything else requires a look.

[2022-07-23 18:39] Garanas commented on #4067
Oh, and feel free to remove meshes that purely add additional target bones if it is viable to achieve a similar result with one of the other approaches.

[2022-07-23 19:21] Garanas commented on #3433
Looks good to me - in the future we should have a different explosion for when the SACU is below water. My thoughts are something [like this](https://science.howstuffworks.com/explosion-land-water1.htm), in particular the image. We can re-use some of the current naval destruction effects for that, and spawn those effects on the surface.

[2022-07-23 19:33] Hdt80bro commented on #3433
The image is nice and all, but now I've read the article and want to revamp all explosions to be more destructive underwater...
*ignore the impulse*
I'll put in that change

[2022-07-23 20:15] #3433 closed

[2022-07-24 01:26] #968 closed

[2022-07-24 07:00] Garanas commented on #4067
Adjusted the progress section - please approach it by faction, type and then tech.

[2022-07-24 08:39] maudlin27 opened #4075 "GC Tractor beam error message"
**Description**
Got the following error message which I think is due to the GC's tractor beam logic:
[code]

**To Reproduce**
Was playing on FAF develop, had updated it on 22/07/22.  Confirmed that it's the version featuring the new GC tractor beam logic that leaves wrecks when units die.

In-game scenario: 2 GCs were near the enemy Seraphim base.

Unclear on precise fact pattern that led to this,

[2022-07-24 08:40] Garanas commented on #4075
Likely an engineer that was ready, and 'sliding' off the Seraphim air factory.

[2022-07-24 09:45] Garanas commented on #4067
And to simplify the reviewing process - make sure to add mp4s of the result. You can easily do this using [Screen to Gif](https://www.screentogif.com/), but then instead of a gif make it a mp4 (the software supports that too).

[2022-07-25 12:04] RutreD opened #4077 "dkson.lua pcall(require). Can crash the game"
Once I caught a game crash. Judging by the crash log, this is all due to dkson.lua, which contains pcall with require. From experience in other games, pcall can sometimes crash games. I think need to cut code with pcall, it never work anyway (you can check if add LOG for pcall in dkson.lua(line 49)
[code]
and it always logs false and error).

I also attach crash log from FAFDebugger
[code]

[2022-07-28 07:24] Hdt80bro commented on #4077
It appears that this module relies on certain behavior that Moho has overriden. The problem occurs due to an interaction between all undefined global accesses producing an error and the dev being very careful about the debug module in a way that got optimized out. Actually, `debug.getmetatable` isn't defined by the engine anyway, so those lines can be safely deleted.

[2022-07-31 02:08] relent0r opened #4081 "Logic flaw in AirStagingThread function"
note : I'm going to rewrite this function for my AI so once I've got it reliable I'll push it in to replace the faf equivalents. This is just for tracking.

Function location : \lua\ai\aibehaviors.lua

Issue exist in both AirStagingThread and AirStagingThreadSorian I believe. I've seen this issue crop up sporadically during testing and finally got sick of it so investigated the cause.

Issue : Whe

[2022-07-31 04:31] #4077 closed

[2022-07-31 04:33] Garanas commented on #4081
Sounds like an exciting bug - looking forward to the pull request

[2022-07-31 04:43] Garanas commented on #4067
Dips on all the Seraphim related changes.

[2022-07-31 05:40] Garanas commented on #4067
While working on https://github.com/FAForever/fa/pull/4082 I noticed that sometimes the collision box does not update after saving the blueprint and spawning in a new unit. Best to restart the map every now and then to make sure what you're seeing reflects reality.

[2022-07-31 14:34] Garanas commented on #959
Closed as a stale issue - I agree that what we have right now is a mess but it is not vital.

[2022-07-31 14:34] #959 closed

[2022-07-31 14:45] Garanas commented on #1088
This issue has aged.

[2022-07-31 14:45] #1088 closed

[2022-07-31 14:48] Garanas commented on #62
This has been discussed a few times - the way the game works (where the unit keeps following the target into the fog of war) is the preferred approach for now.

[2022-07-31 14:48] #62 closed

[2022-07-31 14:51] Garanas commented on #94
This is not fixed, but improved significantly by an engine patch (https://github.com/FAForever/FA-Binary-Patches/commit/d86021174014fc42c2d9d76a79492705f2b52290) and two shader adjustments (a8a1c9befd3d49f7d19e75aa80abeb0ba42ad51d and 6f499ee278f7b5bf0da42f0723b1dc17f9db175c). See also the [forum post](https://forum.faforever.com/topic/4405/game-version-3741-sneak-peaks) with the latest sneak peak

[2022-07-31 14:51] #94 closed

[2022-07-31 14:55] Garanas commented on #109
Closing this - it would require a complete revamp of how the beetle works at the moment. It is possible to make it work, if that is desired I can create a new issue with a technical description on how to approach it.

[2022-07-31 14:55] #109 closed

[2022-07-31 14:58] Garanas commented on #388
Issue has run stale, I'm not sure what if what Chris describes is still functional. We'll be able to tackle this when we revamp the lobby and integrate Snake into the new version.

[2022-07-31 14:58] #388 closed

[2022-07-31 15:00] Garanas commented on #492
Closing this issue - there's more to AIs than just markers. Especially as some AIs no longer use markers.

[2022-07-31 15:00] #492 closed

[2022-07-31 15:01] Garanas commented on #622
This issue still exists, but there's nothing we can do about it. The bottom line: don't overkill a single air factory with 25 hives.

[2022-07-31 15:01] #622 closed

[2022-07-31 15:02] Garanas commented on #647
This can break mods that expect the current hierarchy, closing as not planned.

[2022-07-31 15:02] #647 closed

[2022-07-31 15:03] Garanas commented on #711
At this point I consider this to be a feature instead of a bug. The bottom line is: don't stall when you have SMDs. The best we can do is add some kind of indicator that the SMD is not producing at a full capacity - suggestions are welcome, but lets discuss that on Discord.

[2022-07-31 15:03] #711 closed

[2022-07-31 15:08] Garanas commented on #752
Still an issue and it won't likely get fixed any time soon. Bottom line is to not have mods depend on UI mods, as I've experienced with the [Battle Royale](https://github.com/FAForever/Battle-Royale) mod.

[2022-07-31 15:08] #752 closed

[2022-07-31 15:08] Garanas commented on #847
@MrRowey were you working on fixing this?

[2022-07-31 15:09] MrRowey commented on #847
Could never get an Accurate Fix for it Somone else is more than welsome to take a stab at it

[2022-07-31 15:10] Garanas commented on #847
Closing it instead - they're inaccurate, but in practice it is irrelevant because:

- all players have the same inaccuracy
- intel is delayed anyway, it is very difficult to spot this

[2022-07-31 15:10] #847 closed

[2022-07-31 15:11] Garanas commented on #1087
Issue staled, log contains no information on what happened. Closing it.

[2022-07-31 15:11] #1087 closed

[2022-07-31 15:12] Garanas commented on #1229
Should be fixed with #4016 , if not we'll open a new issue.

[2022-07-31 15:12] #1229 closed

[2022-07-31 15:14] Garanas commented on #1214
The DPS is very difficult to determine in general, think about a bomber: how do you calculate its DPS, as it can be a lot higher when you micro it.

[2022-07-31 15:14] #1214 closed

[2022-07-31 15:15] Garanas commented on #1348
Issue is stale - I think the lobby works fine at the moment.

[2022-07-31 15:15] #1348 closed

[2022-07-31 18:16] Garanas commented on #1412
The issue is dated, I can't reproduce it anymore. Considering it solved.

[2022-07-31 18:16] #1412 closed

[2022-07-31 18:18] Garanas commented on #1460
Closing this issue accordingly.

[2022-07-31 18:21] Garanas commented on #1841
Times have changed - I am a fan of adding such validation, if it can help people discover issues early on the better.

[2022-07-31 18:21] Garanas commented on #1467
Lets use #2045 to track this, closing it.

[2022-07-31 18:22] Garanas commented on #1445
Closing this issue - I haven't seen it and if it pops up again we can use the official debugger available in the client:

![image](https://user-images.githubusercontent.com/15778155/182040024-03ce6a69-685c-4606-bcde-c234ae8b0501.png)

Besides that, lets use #2045 to track this in the future.

[2022-07-31 18:22] #1445 closed

[2022-07-31 18:24] Garanas commented on #1688
I understand the idea behind the request, but the amount of work doesn't balance out the benefits.

[2022-07-31 18:24] #1688 closed

[2022-07-31 18:25] Garanas commented on #1700
This is fixed with https://github.com/FAForever/fa/pull/3791, closing accordingly.

[2022-07-31 18:25] #1700 closed

[2022-07-31 18:26] Garanas commented on #1803
Lets use #2045 to track this, closing it accordingly.

[2022-07-31 18:26] #1803 closed

[2022-07-31 18:27] Garanas commented on #1804
Lets use #2045 to track this, closing it accordingly.

[2022-07-31 18:27] #1804 closed

[2022-07-31 19:01] Garanas commented on #1781
This feature is quite niche - doesn't seem to be worth the effort. Closing as not planned.

[2022-07-31 19:01] #1781 closed

[2022-07-31 19:02] Garanas commented on #1784
are there consequences to setting that value to 600?

[2022-07-31 19:03] Garanas commented on #1756
Did that mod see the day of light? 😄

Closing this issue as not planned, I like the feature but it is more for a mod.

[2022-07-31 19:03] #1756 closed

[2022-07-31 19:04] Garanas commented on #1900
Closing this, lets keep track in #2045 if it happens again.

[2022-07-31 19:04] #1900 closed

[2022-07-31 21:08] #1467 closed

[2022-07-31 21:18] MrRowey commented on #2108
Dated Issue and no information provide on how to replicate

[2022-07-31 21:18] #2108 closed

[2022-08-01 06:23] #1460 closed

[2022-08-01 12:08] Garanas commented on #4060
Closed in favor of #4067

[2022-08-01 12:08] #4060 closed

[2022-08-01 12:08] Garanas commented on #1848
The behavior of this has been changed a while back - issue is dated.

[2022-08-01 12:08] #1848 closed

[2022-08-01 13:03] Garanas opened #4085 "Re-implement reclaim labels"
_This issue is under construction_

Context and previous attempts
-------------

This is a large and involved issue that tackles a core mechanic of the game. It is far from trivial and not recommended as a first issue. On the other end, the issue can be solved without keeping mod compatibility in mind and you'll be able to re-implement the mechanic from the ground up.

Therefore, heaps of fun and

[2022-08-01 15:41] Garanas commented on #1950
Turned this issue into a [wiki entry](https://github.com/FAForever/fa/wiki/Correct-usage-of-log-levels), closing this issue accordingly.

[2022-08-01 15:41] #1950 closed

[2022-08-01 15:42] Garanas commented on #2028
I agree, this would be quite nice. But for now, it is not planned. If someone wants to pick this up then feel free to do so.

[2022-08-01 15:42] #2028 closed

[2022-08-01 15:43] Garanas commented on #2332
Issue dated, likely due to memory.

[2022-08-01 15:43] #2332 closed

[2022-08-01 15:44] Garanas commented on #2337
This feature is quite niche - I understand the need but it is rarely an issue.

[2022-08-01 15:44] #2337 closed

[2022-08-01 15:45] Garanas commented on #2371
In contradiction to other bombers, corsairs do not 'drop' a bomb. They fire missiles in a 'direct fire' manner, and hence they have an attack radius. Closing this as solved, as I don't consider it to be a bug - if anything, just odd.

[2022-08-01 15:45] #2371 closed

[2022-08-01 15:46] #2325 closed

[2022-08-01 15:47] Garanas commented on #1623
This is trashing the logs, but it is not a critical issue. Closing as not planned.

[2022-08-01 15:47] #1623 closed

[2022-08-01 15:48] Garanas commented on #1631
Closing this in favor of #4085 , where I'll be writing up a draft for a new implementation for reclaim labels all together.

[2022-08-01 15:48] #1631 closed

[2022-08-01 15:48] Garanas commented on #1736
Issue is quite rare, I have nothing to reproduce it with. Closing it accordingly.

[2022-08-01 15:48] #1736 closed

[2022-08-01 15:49] Garanas commented on #2637
I understand the situation, but seems very niche and engine related. Closing it as not planned.

[2022-08-01 15:49] #2637 closed

[2022-08-01 15:49] Garanas commented on #2654
This requires an engine patch and was previously considered to be almost impossible to do. @KionX can you confirm that?

[2022-08-01 15:51] Garanas commented on #3335
Completed by https://github.com/FAForever/fa/pull/3930, closing accordingly.

[2022-08-01 15:51] #3335 closed

[2022-08-01 15:54] MrRowey commented on #1723
Closing as not planned as this is a small Use case of using the in lobby random map button. Can be reopened if someone wants to tackle it.

[2022-08-01 15:54] #1723 closed

[2022-08-01 15:54] Garanas commented on #3129
This issue is niche and usually not relevant during a game. Intel (visually) doesn't appear to be updating at the same frequency / timestamps, not sure how that works internally.

[2022-08-01 15:54] #3129 closed

[2022-08-01 16:17] Sheikah45 commented on #3087
@Garanas can this be closed with https://github.com/FAForever/fa/pull/4016

[2022-08-01 16:19] #3087 closed

[2022-08-01 16:52] Garanas commented on #3238
It is not possible to include the shield ratio. The information is gathered via updating the unit window, which doesn't provide the shield status for hostile units. See also:

[code]

Note that the shieldRatio is set to `-1` , indicating that the value is not available.

[2022-08-01 16:52] #3238 closed

[2022-08-01 16:55] Garanas commented on #4045
Can this issue get converted to a Wiki entry, on this repository?

[2022-08-01 16:56] Garanas commented on #4001
This is fixed with https://github.com/FAForever/fa/pull/4074, closing accordingly.

[2022-08-01 16:57] Garanas commented on #4001
The other issue is not however,

[2022-08-01 16:59] Garanas commented on #4001
Ok, so it does work but you need to click a few additional times. The game doesn't understand that some units have no shields at all, and therefore they can not be toggled. But it appears the toggle state is still there, and therefore influencing it as a whole. I'm not sure how to fix this, I also do not consider it to be a critical issue at the moment. Closing as not planned.

[2022-08-01 16:59] #4001 closed

[2022-08-01 16:59] Hdt80bro commented on #4045
A Wiki entry? I'd prefer to just fix the documentation differences.
If you're talking about engine interactions though, then yes! That'd be a good idea.

[2022-08-01 17:00] Garanas commented on #3538
Yes - this is the one. It is fixed now as far as I am aware. Closing this issue.

[2022-08-01 17:00] #3538 closed

[2022-08-01 17:29] KionX commented on #2654
Or an engine patch or https://forums.faforever.com/viewtopic.php?f=41&t=13350.html#p169487

[2022-08-01 19:10] Garanas commented on #2654
What if we spawn dummy entities for units with 'reasonable worthy intel', such as radars, sonars, cruisers and command units, for each ally?

[2022-08-01 19:10] MrRowey commented on #755
This Dose not affect the gameplay it just a Ui element that doesn't visually show. For now will close as Unplanned but if someone want to pick it up and finish it off feel free to reopen it

[2022-08-01 19:10] #755 closed

[2022-08-01 19:25] Uveso commented on #2325
I fixed this on  11 Jun 2018
https://github.com/FAForever/fa/commit/b9a348b881c74e86f74bbab51c7d9e0a6c94898a

AIs are now always building NonCheatBuilders

[2022-08-02 00:50] Hdt80bro commented on #4085
I highly recommend sorting the reclaim into a quadtree and combining close enough labels based on camera distance. It'll be a little ugly when the camera rotates, but that should be fine in 99.9% of use-cases.

[2022-08-02 07:07] speed2CZ commented on #1784
I havent encountered any back then

[2022-08-02 08:02] Garanas commented on #2654
Same for SMDs, use a dummy unit that each player owns but can't select and doesn't render a mesh or anything?

[2022-08-02 09:20] KionX commented on #2654
I have some developments. I'll try to patch the engine.

[2022-08-02 09:33] Garanas commented on #2654
👍 , that works too. If that doesn't seem feasible, we can try my approach too - it won't work when you select them, because they'd be unselectable. But it will work when you always render intel rings.

[2022-08-03 11:24] #4066 closed

[2022-08-04 15:12] Garanas commented on #2062
I'm just going to close it - it has dated.

[2022-08-04 16:19] MrRowey commented on #1080
Dated issues. if this is something that's wanted it can be reopen and implemnted

[2022-08-04 16:19] #1080 closed

[2022-08-04 16:25] MrRowey commented on #1843
close as Duplicate Issue use #3641

[2022-08-04 16:25] #1843 closed

[2022-08-04 22:38] MrRowey commented on #2282
Dated issues just tried this and seems to work fine

[2022-08-04 22:38] #2282 closed

[2022-08-04 22:40] MrRowey commented on #2451
This is not a huge issues and if someone wants to invest the time to fix this can be reopened

[2022-08-04 22:40] #2451 closed

[2022-08-05 14:49] #1629 closed

[2022-08-05 14:52] #4019 closed

[2022-08-05 18:44] MrRowey commented on #2140
Dated issuse

[2022-08-05 18:44] #2140 closed

[2022-08-05 18:47] MrRowey commented on #2213
@Garanas surly this make sense that it cant shoot torps when building as it the same as if on land if your doing the said about you cant shoot so I'm going to close this issue.

[2022-08-05 18:47] #2213 closed

[2022-08-05 18:54] MrRowey commented on #2831
Moving to use #2045 to track this, closing it accordingly.

[2022-08-05 18:54] #2831 closed

[2022-08-05 18:57] MrRowey commented on #2945
Moving to use #2045 to track this, closing it accordingly.

[2022-08-05 18:57] #2945 closed

[2022-08-05 19:01] MrRowey commented on #3307
@4z0t can this be closed off ?

[2022-08-05 21:17] Garanas commented on #3641
I've tried experimenting, solving this issue.

[code]

I'm afraid that there is no feasible solution. At best we can restart creating the missile and try and make up for the loss, but if the player is stalling while we try doing so then it is anything but smooth and the player likely loses a lot of progress.

Using `unit:SetWorkProgress()` also doesn't work, as it appears to be reset again (to the

[2022-08-05 21:38] Garanas commented on #3307
Once he has made an issue to fix it, yes.

[2022-08-05 21:49] MrRowey commented on #1850
Dated Issue closing for now

[2022-08-05 21:49] #1850 closed

[2022-08-05 21:58] #2411 closed

[2022-08-05 21:59] MrRowey commented on #2490
@Hdt80bro this a Similar thing you did with the SACUs Explosions

[2022-08-06 19:49] 4z0t commented on #3307
I will correct it in UI annotations PR

[2022-08-06 21:00] Garanas opened #4098 "Possible issue with #4070"
**Describe the bug**

Appears to be related to #4070 , as the new functions are part of the stack trace.

[code]

[code]

**Additional context**

Happens in: https://replay.faforever.com/17697860

[2022-08-06 21:00] Garanas commented on #4098
@Hdt80bro could you look into this?

[2022-08-06 21:25] Garanas commented on #4098
There's a typo:

![image](https://user-images.githubusercontent.com/15778155/183266520-e2e87fda-18be-45b0-9786-10e81594be10.png)

[2022-08-06 21:28] #4098 closed

[2022-08-07 05:22] Hdt80bro commented on #4098
whoops

[2022-08-07 11:28] #2397 closed

[2022-08-07 11:43] Garanas commented on #3042
It appears this happens when the shield has taken damage, you start upgrading (clicking the button) but the hives start assisting between you clicking the button and the upgrade actually happening.

[2022-08-07 11:49] Garanas commented on #3042
No, it is different. You can reproduce it by:

- Shield of structure takes damage
- Set engineers to assist the structure, healing the shield
- Upgrade the structure during while the shield is being healed
- Bug as described

Now, what can we do about it 😄

[2022-08-08 11:42] Garanas commented on #3877
The issue is in 9f5f4c36115c858c83022a82d2aee35a6e9aa29d, or https://github.com/FAForever/fa/pull/3502/files#diff-27beb4c4f820b8c51bd22d40ab65b26ead2766eec9d8422c7486f0d70dfbf84c

[2022-08-09 06:22] #3042 closed

[2022-08-10 14:14] Garanas commented on #3832
@Strogoo / @KionX do you have an idea how to make this work?

[2022-08-10 14:15] #3395 closed

[2022-08-10 14:23] Garanas commented on #3236
I agree with KionX - this should be fixed by the authors of the mods. Or, as you have already done so - make a separate UI mod that fixes it instead.

[2022-08-10 14:23] #3236 closed

[2022-08-10 21:31] Divran commented on #3236
so does that mean you'll fix blackops, since it's included in FAF and a handful of units in it have this issue. (unless it's already been fixed in the 2 years since this issue was posted, I haven't really checked)

[2022-08-11 00:01] MrRowey commented on #3236
black ops is not included with faf

[2022-08-11 04:33] Garanas commented on #3236
Best we can do is ask @Uveso to do that, but beyond that - no. We do not officially support those mods, we just try to not break them at this point 😄

[2022-08-11 09:27] #2792 closed

[2022-08-11 09:27] Garanas commented on #3982
Fixed in the previous release, forgot to close

[2022-08-11 09:27] #3982 closed

[2022-08-11 09:52] Garanas commented on #2410
If someone manages to sandbox this in a more recent version of the game 👍

[2022-08-11 15:55] Divran commented on #3236
oh I didnt notice it was removed from this list at some point
![image](https://user-images.githubusercontent.com/1485728/184176753-a6cd5ec3-3468-43bd-9287-c8c23deaa4d4.png)

[2022-08-12 12:07] Uveso commented on #3236
I stopped working on DPS  display mods since i can't properly calculate DPS for every weapon.
My last tooltip mod was from 2015 called "smart unit tooltip" that uses (and displayed) 3 different ways of DPS calculation.
And i always got different DPS numbers for several weapons.

Post from 2015 about DPS and my tooltip mod:
https://forums.faforever.com/viewtopic.php?f=41&t=15486

I followed every c

[2022-08-12 12:31] Divran commented on #3236
Fair, but the dps is just a small part of what my mod fixes. The main feature is that it properly splits apart weapons that are different but just have the same display name because the mod author forgot to rename them. This isn't only relevant for dps but also for weapon range and even what enemies it can target. Hypothetically, a unit may have like 10 "gauss cannons" but 3 of them are short rang

[2022-08-12 15:54] Uveso commented on #3236
I see;
if a weapon has different stats then another weapon, they should not have the same name, right?

Would it not be easier to make a function inside blueprint.lua and change those name per script?
This way it would work with all mods.

[2022-08-12 16:55] Uveso commented on #3236
@Divran

I have checked black ops unleashed but did not found a weapon that has the same name but different weapon stats:
I checked for:
[code]
result:
[code]

[2022-08-12 17:24] Uveso commented on #3236
well, i did some tests and finally found 8 units with different weapon stats on weapons with the same name.

List for Black ops:
[code]

I also checked Total Mayhem and almost found no unit with proper weapon naming :(

[2022-08-12 17:34] Uveso commented on #3236
found also some units from the game itself that have different stats but same name:
[code]

[2022-08-12 18:02] Divran commented on #3236
if a weapon has different stats then another weapon, they should not have the same name, right?

correct

This way it would work with all mods.

not sure what this suggestion does that my mod doesn't already do

yeah I used total mayhem as examples in my screenshots for a reason haha, it's completely fucked in that mod

[2022-08-12 19:10] Divran commented on #3236
By the way it's actually rare for older mods (such as total mayhem) to rename their weapons at all, because back when those mods were made, unit tooltips didn't list weapon stats at all, so the name of the weapons literally were never available to players in-game.

[2022-08-13 20:14] Strogoo commented on #3832
Try to play with unit:SetBuildRate(). I'm not sure if it affects reclaim rate, have to test that. As I remember, there is a callback in sim.unit for pause/unpause where you can place all logic that is needed. So ideally engie has an active order, active reclaim animation but in fact reclaim is stopped.

[2022-08-14 08:55] Tagada14 commented on #3832
The balance team is in favor of adding this feature

[2022-08-14 08:56] #3877 closed

[2022-08-16 06:12] #3739 closed

[2022-08-17 01:03] Sheikah45 opened #4133 "Auto Balance lobby button always puts players in order of rating"
**Describe the bug**
The auto balance button always orders the players in the slots from highest to lowest. This leads to very stale positioning unless the host manually adjusts it.

**To Reproduce**
Press the button multiple times across games and observe highest rated is always at top

**Expected behavior**
Should randomly place pairs

[2022-08-17 18:35] Garanas opened #4134 "Refactor the syncing of regen of units"
Description
-----------

_This issue is an introduction to what needs to happen in https://github.com/FAForever/fa/pull/4135, if you do not intend to do https://github.com/FAForever/fa/issues/4135 too then please leave this issue for someone who does_

The regeneration rate can be adjusted in the simulation. This is particularly noticeable when a units gains a level via experience. This is synced

[2022-08-17 18:36] Garanas opened #4135 "Refactor the syncing of experience of units"
Description
-----------

The implementation of the experience (veterancy) system is done via the Sync table. Because of this it includes a lot of additional baggage, which includes:

- 1) A complicated (and expensive) [indexing approach](https://github.com/FAForever/fa/blob/deploy/fafdevelop/lua/sim/Unit.lua#L66) for syncing the data with the UI
- 2) A lot of table and field allocations with regar

[2022-08-18 10:25] Garanas opened #4136 "Refactor all import paths to lower case"
Description
------------

This is a non-trivial issue and it likely requires an external program to process the excessive amount of changes that it proposes. But before we dive into that, lets make sure we understand what the issue is.

The file import system is defined in Lua, it can be found [here](https://github.com/FAForever/fa/blob/deploy/fafdevelop/lua/system/import.lua). For ease of reading

[2022-08-18 20:19] Garanas commented on #3537
This won't happen until the capping of structures is less heavy on the simulation.

[2022-08-18 20:19] #3537 closed

[2022-08-19 09:50] #3821 closed

[2022-08-19 10:23] #4014 closed

[2022-08-19 14:31] Arkemlar opened #4149 "Spread move makes game to freeze"
**Describe the bug**
Just make like 100 asfs, peak some units for attack and press shift+G. I wondering why this stupid bug not fixed for ages. That must be easy to make some pre-check like if unit count too high then deny algorithm call and print ingame message to inform about that? It is anyway better then crash the game!

**To Reproduce**
Make spread attack move for 100+ units on 10+ targets an

[2022-08-19 21:21] #2500 closed

[2022-08-20 11:10] Garanas commented on #4149
Could you try and sandbox a crash, or a set of steps to reliably reproduce it?

[2022-08-20 12:40] KionX commented on #4149
There are a huge number of errors probably related to mods in your log. Could it be related?

[2022-08-20 13:50] Arkemlar commented on #4149
I remember I got this bug before times I knew about Spread Move mod. And it activates only by specific hotkey, I highly doubt it can affect built in Spread Attack routine.

[2022-08-20 13:52] Arkemlar commented on #4149
@Garanas yes, I can try to sandbox it, will do it

[2022-08-21 16:35] Arkemlar commented on #4149
Strangely enough in sandbox I could not reproduce this bug. Same mods, even grater unit counts in Spread Move but no.

[2022-08-21 17:27] Garanas commented on #4149
That is the issue I had too. I think there is some correlation, but at the moment it does not have a high priority.

In the end - the way spread attack is setup - it is asking for trouble anyway.

[2022-08-26 18:08] JaggedAppliance commented on #2521
Shouldn't this stay open? It's a valid issue.

[2022-08-27 09:49] #3546 closed

[2022-08-27 09:49] #3692 closed

[2022-08-29 08:22] Garanas commented on #2521
We're changing how we look at issues. We'd like to have a list of issues that are:

- relevant to the current status quo of the game
- people can pick up and solve

This one doesn't meet either criteria: there is no direct interest / need from the balance team to push for a fix. And it isn't trivial either as Tagada states it requires an overhaul of the unit (mesh).

With that idea we've been clos

[2022-08-31 00:08] phongu opened #4194 "Use of extended ASCII characters in lobby chat causes a disconnect"
**To Reproduce**
Create or join a lobby, type or paste into the chat "qué?", press enter, get disconnected.

**Additional context**
This bug was probably introduced sometime in June or August 2022

[2022-08-31 10:51] Garanas commented on #4194
@4z0t any ideas?

[2022-08-31 11:43] KionX commented on #4194
Couldn't reproduce it.

[2022-08-31 11:44] heibaixyd opened #4195 "UEF Navy factory HQ and Aeon Air factory HQ 's Bug"
BUG1:  UEF Navy factory HQ has no difference with normal Navy factory.

BUT2:  When the Aeon Air factory HQ has been upgraded to LV3 , it will change to nomal Air factory.

[2022-08-31 12:44] MrRowey commented on #4194
![image](https://user-images.githubusercontent.com/20344151/187681102-e12c6672-14cf-40f6-a80a-2350f5862621.png)
 Can confirm it happends

[2022-08-31 12:46] MrRowey commented on #4195
Please Provide the replay where this happends

[2022-08-31 12:58] phongu commented on #4194
KarlHoffman, Ninrai, Babel reproduced it. Everyone I spoke to in CpC clan (french) told me it also happens to them and they knew about the bug before I mentioned it. A_A_A and VonEinzbern (who are Russian) could NOT reproduce the bug, I asked and they told me their game is not in Russian.

[2022-08-31 15:26] 4z0t commented on #4194
I cant reproduce it either...

[2022-08-31 16:13] 4z0t commented on #4194
Moved to client issue.

[2022-08-31 16:13] #4194 closed

[2022-08-31 17:26] Garanas commented on #4195
![image](https://user-images.githubusercontent.com/15778155/187741344-d6d9a432-0ebf-40c7-a54f-cb181423ec5f.png)

![image](https://user-images.githubusercontent.com/15778155/187741380-fbd83b2a-3299-43fb-a5cf-e74a5795eaa4.png)

He's right, they're the same 😄

[2022-08-31 17:26] Garanas commented on #4195
@MrRowey guess which one is the HQ

[2022-08-31 17:37] MrRowey commented on #4195
🤷‍♂️

[2022-08-31 18:33] MrRowey commented on #4194
How is this a client issuse when i happends inside the lobby ?

[2022-08-31 21:12] TakesTheBiscuit opened #4196 "Operation rescue, 3 players coop. Successful on all objectives but no win condition/end game."
**Describe the bug**
Operation rescue, 3 players coop. Successful on all objectives but no win condition/end game.

**To Reproduce**
Complete coop mission with 3 players on hard mode.
The enemy monkey lord killed all but 1 of the transports (UEF ally ai)
The transports were delivered to the big yellow objective - the objective was marked as complete - at this point there are no more objectives to

[2022-09-03 19:09] Garanas commented on #4194
Because of the ICE adapter.

[2022-09-03 22:16] Hdt80bro commented on #4136
Interestingly, the engine uses the mixed-case filenames. I doubt we want to touch that though.

[2022-09-04 03:49] MrRowey commented on #4136
Is Thier a reasoning why we want them all to be lower can and not a form of camel case ?

[2022-09-04 05:21] Hdt80bro commented on #4136
It's slightly faster, since it's the version of the import name that's already cached

[2022-09-04 14:13] Garanas commented on #4136
Yes, it prevents lowering the string entirely.

Let's not 😄

[2022-09-08 21:48] Levitybot opened #4209 "Ship main cannons should not be able to damage submerged units"
**Describe the bug**
Currently a Battleship's main weapon can be *ground* targeted and the blast damages quickly destroys submerged units like submarines. Not only is the very unrealistic as the subs would be far under water, it also largely removes the point of having subs in the game if they can be damaged by main cannons and very easily destroyed. This exploit removes the value of submarines an

[2022-09-09 04:54] Garanas commented on #4209
This has been extensively discussed on the forums, see also:
- https://forum.faforever.com/topic/845/battleships-shouldn-t-be-able-to-damage-submarines-with-artillery-fire
- https://forum.faforever.com/topic/3041/countering-seraphim-t3-submarine-hunters

And there is one large other topic that I can't find. There is a solution available, drafted together with @Spikey84 in https://github.com/FAFore

[2022-09-10 20:54] Endranii opened #4213 "Titan hitbox prevents beam weapons from hitting it at certain angles."
**Describe the bug**
Beam weapons tend to miss Titans body.

**To Reproduce**
Have a titan run around a beam weapon. Be it ML or Seraphine T2 pd. At certain angles and distances the titan is just unhittable.

**Expected behavior**
ML will kill the titan in about 1second. Sera t2 PD will deal damage to the unit.

**Screenshots**
https://replay.faforever.com/17987150   Minute 22.30 starts the fight

[2022-09-11 10:50] Garanas commented on #4213
Yes, we're fixing this with https://github.com/FAForever/fa/issues/4067 . But, as you can imagine, going over all units to check their values is quite a bit of work. I'll prioritise the Titan, Loyalist and Harb for the balance patch.

[2022-09-11 14:01] Endranii commented on #4213
Oh don't worry Jip. I was just looking through Titan mentions in issues and didn't find any regarding the targeting problem so I wasn't sure if it's a known one or not. And considering I saw it happen quite often in the past week I wanted to make sure it's known.

Just didn't come to my mind to look under bone problems or other tags. Just searched for titan.

[2022-09-13 12:37] Garanas commented on #3426
Fixed with https://github.com/FAForever/fa/pull/4169, closing it.

[2022-09-13 12:37] #3426 closed

[2022-09-15 16:30] Tagada14 commented on #4209
Will be discussed in the next Balance call

[2022-09-16 19:59] K-ETFreeman opened #4223 "Units spontaneously die when dropped on reclaim rock"
[replay_link](https://replay.faforever.com/18035067)

Moment at 4:30, drop at the top-right island
Engis just exloded by touching the ground

[2022-09-19 13:27] BlackYps opened #4233 "mod selection ui breaks with UI scaling"
The new mod selection ui doesn't properly react to UI scaling. Screenshot shows 125% ui scaling. The buttons are not clickable.

![Screenshot 2022-08-24 101919](https://user-images.githubusercontent.com/52536103/191027945-c8d7faf8-3b49-4a41-a008-e21fdaf449f3.png)

[2022-09-21 19:49] timocov opened #4239 "Alt-related shortcut produces OS beep sound in windowed mode"
**Describe the bug**

If you run a game in windowed mode then any (almost?) hotkey with Alt, e.g. Alt+S or Alt+E would produce a beep system sound. If you switch to fullscreen mode then it works fine.

Not sure if it is possible to fix though (let me know please).

**To Reproduce**

Run a lobby or a game in windowed mode and press Alt+S. It happens even if you have an action assigned to this hotke

[2022-09-21 21:11] #3307 closed

[2022-09-22 07:02] Garanas commented on #4239
What operation system are you running?

[2022-09-22 07:03] timocov commented on #4239
Windows 10 x64

[2022-09-22 07:06] Garanas commented on #4239
Ah, yes. I can hear it too. Not sure what the solution is yet.

[2022-09-23 11:48] #4085 closed

[2022-10-02 08:51] #4195 closed

[2022-10-07 16:01] Kekuolis opened #4251 "FAF Client does not start on Windows 10"
**Describe the bug**
Ran on Windows 10 64-bit

I just installed the FAF client from your website and installed it and ran it. It crashes after a second of loading and when the text "v2022.09.0" appears it crashes giving this error:
[code]
**To Reproduce**
A fresh installation of the FAF client

**Expected behaviour**
The client starts
**Screenshots**
![image](https://user-images.githubusercontent.

[2022-10-08 05:41] #4251 closed

[2022-10-09 07:04] Garanas commented on #4233
@4z0t is working on this if I recall correct

[2022-10-09 09:13] 4z0t commented on #4233
Shouldn't it be fixed on faf dev?

[2022-10-09 19:24] BlackYps opened #4258 "Add division to score board for matchmaker games"
The latest client sends the division name of the player to the game if applicable. PR: https://github.com/FAForever/downlords-faf-client/pull/2793

Now the game needs to pick that name up to display it in the score board of the game instead of the rating. We could also or instead display a 20x40px image that petric made that visually represents the division.

The division info should also be saved

[2022-10-10 06:55] Garanas commented on #4258
We can add data to the replay by doing a `SimCallback`. Where are the images, I think we should use those

[2022-10-10 08:52] BlackYps commented on #4258
Would you rather have a link to the server location or the physical files?

[2022-10-10 18:43] ChessBerry opened #4261 "Seraphim torpedo bombers doing more than 750 damage sometimes"
**Describe the bug**
Seraphim torpedo bombers to more damage to some units, depending on the angle/spot at which their torpedos hit.

**To Reproduce**
Spawn an aeon carrier and an enemy sera torp bomber. Have the torp bobmer attack the carrier once from a horizontal direction, with the torpedos hitting the carrier's sides, and it will do 834 damage, about 11% more than it's supposed to:
![Forged A

[2022-10-11 09:38] Garanas commented on #4261
It likely has to do with these two lines:
- https://github.com/FAForever/fa/blob/fix/teleport-glitches/projectiles/SANHeavyCavitationTorpedo01/SANHeavyCavitationTorpedo01_script.lua#L34
- https://github.com/FAForever/fa/blob/fix/teleport-glitches/projectiles/SANHeavyCavitationTorpedo01/SANHeavyCavitationTorpedo01_script.lua#L46

Creating a (split second) window where both the original projectile a

[2022-10-11 16:59] BlackYps commented on #4258
Icons on server are here: https://content.faforever.com/divisions/icons/small/goldI_small.png I can also provide the physical files if that is better

[2022-10-11 17:34] Garanas commented on #4258
Batching them into a zip would be preferred, I can't properly navigate that link

[2022-10-11 17:40] BlackYps commented on #4258
[icons.zip](https://github.com/FAForever/fa/files/9758496/icons.zip)
@4z0t was also interested in implementing this

[2022-10-12 13:06] #4233 closed

[2022-10-12 23:01] haifron commented on #4239
I found this issue a while ago too, there's a way to turn it off:
https://community.adobe.com/t5/premiere-pro-discussions/using-alt-key-modifier-on-win10-causes-os-sound/m-p/9034759
You want to go to Control Panel > Sound > Sounds (or just run "control.exe mmsys.cpl,,2" in cmd). Find "Default Beep" in 'Program Events' and set it to "(None)".
If you don't want to change your default sound scheme th

[2022-10-13 08:04] Garanas commented on #4239
We can not change that from within the game, the solution you provide is likely the best one we have. Thank you for coming forth with it

[2022-10-14 07:24] #4223 closed

[2022-10-15 13:25] K-ETFreeman opened #4272 "Scatis (and probably any other structure/exp) can be build instantly in coop"
1) Describe the bug
In coop mode, with 2 or more players, any structure (or exp, probably) can be builded with 1hp instantly and (almost) without mass/energy spended

2) To Reproduce
-Launch coop mission with 2nd player (This behavor confirmed on Black Day mission, no guarantee about others)
-Start build scatis, even 5hp is enough
-Give it to your ally
-Your ally recieves full-operational scatis (

[2022-10-15 15:44] 4z0t commented on #4272
In addition
https://youtu.be/d0xU6q9-5ns

[2022-10-15 18:11] Garanas commented on #4272
I see, that sounds like an issue 😄

[2022-10-15 20:24] Garanas commented on #4272
Are we confident that this is limited to co-op?

[2022-10-16 18:46] K-ETFreeman commented on #4272
I tested with a friend in sandbox lobby, it didn't work
not 100% confident, but probably it is

[2022-10-18 07:33] Garanas opened #4273 "Being able to generate a path from `a` to `b`"
## Describe the query

Being able to generate a path from `a` to `b`. As an example:

[code]

## Visualize the query

As a few examples:

![image](https://user-images.githubusercontent.com/15778155/196365546-84d15a53-9300-44bc-ac5d-3265052c7fa5.png)

I'd prefer the blue paths over the black paths. The blue paths are further away from the cliffs (or other unpathable areas). The black paths is stric

[2022-10-18 18:50] maudlin27 opened #4275 "Allocate a pathing number to each part of the map"
Allocate a unique number for each pathing type to each part of the map, with all parts of the map that can path to each other having the same number.

For example, with the map Pelagial v2, there are various islands scattered around that are pathable by amphibious units, but not by land.  Each island should therefore have a different 'land' pathing number to each other island; however, they should

[2022-10-18 19:07] relent0r opened #4276 "NavRequest - Pathing direction bias option"
## The ability to have the path returns be biased towards a direction of the map.

When requesting a path to a position, the ability to either specify an angle that provides a bias direction or a mid point. The path returns will gravitate towards that direction.

I've previously tried to imitate this by forcing the AI to select mass points that are close to the map edge. The issue is that the path

[2022-10-18 19:29] relent0r opened #4277 "NavRequest - Return path distance when a path is requested."
## Return pathing distance when a path is generated

When a path from an origin to a destination is requested, the path will also return the distance of the generated path.

[code]

returns
true, message, distance
on success

Screenshot attached shows the issue with the current approach. There are two mass points very close to the spawn position. But the actual travel distance is much further than

[2022-10-18 20:51] Garanas commented on #4275
This is already implemented with #4270 , each unconnected area has a label assigned to it. It is the foundation of the function `CanPathTo`, see also:
- https://github.com/FAForever/fa/pull/4270/files#diff-54afb8d1e2391054af22d032f5ee6fad652b7a99d5ec28ff484a907efbd0f74eR34
- https://github.com/FAForever/fa/pull/4270/files#diff-27f81f4cd655fe55438dd405e819b00d616deec749f850daeee0ad0f836e975dR189 wi

[2022-10-18 21:21] Sprouto commented on #4275
This is precisely what the GRAPH NAME was meant to do - except they ended up defaulting all markers from the same GRAPH to the same GRAPH NAME, effectively nerfing the data structure.   The fix to the 'CanGraphTo' function was simply checking connection from one marker to another - and if connected - they were on the same graph and recording it in the markerlist - if not connected - it would get a

[2022-10-19 20:52] Garanas commented on #4275
Here are a few examples. I think this is exactly what you were describing @maudlin27 . You can query this using `CanPathTo`.

![image](https://user-images.githubusercontent.com/15778155/196801297-2d6af495-e523-4e39-8642-3ef396626184.png)

![image](https://user-images.githubusercontent.com/15778155/196801399-d27e41ac-c1de-4d00-9e23-4c4404e6b965.png)

![image](https://user-images.githubusercontent.c

[2022-10-19 21:32] Garanas commented on #4275
Yes, it is sad - I agree. But luckily no more

[2022-10-20 12:18] Yuchenjimmy opened #4278 "Request for editing Tradition Chinese loc files"
Hello, dear developers. Some of the strings for Tradition Chinese are still English, and I want to translate them.

[2022-10-20 12:47] MrRowey commented on #4278
feel free make a pull request with the changes or if not sure how to use github a document with the corresponding line number would also work

[2022-10-20 13:07] Yuchenjimmy commented on #4278
Ok, I've added some changes for testing, thanks! But there is still one problem, would you please tell me how to apply changes to my local files? I need to know if I translate correctly.

[2022-10-20 13:34] KionX commented on #4278
Place the file in this path:
C:\ProgramData\FAForever\DevData\loc\TW\strings_db.lua
and run fafdevelop through the client.

Or read here:
https://github.com/FAForever/fa/blob/deploy/fafdevelop/setup/setup-english.md

[2022-10-21 04:52] Yuchenjimmy commented on #4278
Sorry, I couldn't find a toggle to execute fafdevelop? Where is it?

[2022-10-21 05:06] KionX commented on #4278
Then use this cmd:
C:\ProgramData\FAForever\bin\ForgedAlliance.exe /init init_fafdevelop.lua

[2022-10-21 05:14] KionX commented on #4278
![image](https://user-images.githubusercontent.com/5648030/197117342-f49dc862-0ab9-495c-b372-9ec77e9064d1.png)

[2022-10-21 11:56] Garanas commented on #4277
This is implemented, see also the return values of `PathTo`: `PathToPath, PathToPathHead - 1, distance`, where:
- `PathToPath`: This is the path
- `PathToPathHead - 1`: This is the number of elements in the path, used for loops
- `distance`: distance of the path

Note that the 1st argument can be nil, if no path was found. In that case the 2nd argument is a string telling you why it happened.

[2022-10-21 11:58] #4273 closed, assigned to nobody

[2022-10-21 11:58] #4275 closed

[2022-10-21 11:58] #4277 closed

[2022-10-23 16:08] Garanas commented on #4276
I can implement this using a position. Implementing it using degrees (e.g., first try and go east) can mean that the pathing algorithm effectively 'gets stuck' on some maps that have long cliffs near the origin of the query.

[2022-10-24 21:06] Garanas opened #4295 "Nav mesh - improve testability and performance of the Heap data structure"
Description
-------------

A priority queue is required for path finding. We [implemented](https://github.com/FAForever/fa/blob/deploy/fafdevelop/lua/sim/NavDatastructures.lua#L27) this as a heap. This heap is specifically written to support path finding, it is not a generalized heap. This reduces the overhead of the heap.

If you're unfamiliar with the data structure it is best to read up about i

[2022-10-25 08:07] relent0r opened #4296 "Query for graph area (UniqueLabel?) at position."
## Describe the query
I'm not sure on the naming conventions for this. Based on the NavGenerator lua I believe they are called labels so for the sake of readability I'll call them that for the rest of this description.

Function to query which label a position is currently assigned. This query will provide metadata for other objects such as markers or AI objects such a bases.
For example when an A

[2022-10-25 08:24] relent0r opened #4297 "Get Closest Label Position"
## Describe the query
I'm not sure on the naming conventions for this. Based on the NavGenerator lua I believe they are called labels so for the sake of readability I'll call them that for the rest of this description.

Function to query the closest valid position when given a label and position. This query will provide information that an AI can use to gauge strike distance or validity of a naval

[2022-10-25 09:34] Garanas commented on #4296
![image](https://user-images.githubusercontent.com/15778155/197738656-8276f402-4dda-4bce-b5ad-c9e4ca427266.png)

![image](https://user-images.githubusercontent.com/15778155/197738721-cb1c4598-9722-4bc0-9365-49840d577db3.png)

The UI has a button to visualize the labels of the graph. I'm working on the query in #4298

[2022-10-25 09:38] Garanas commented on #4297
I'll try and work it out. Does this information need to be computed dynamically, or would a static answer (generated at start, and then just returned) suffice too?

[2022-10-25 09:39] Garanas commented on #4296
Note that labels are not unique across layers, they are unique within a given layer. Would it be useful if these are unique across all layers?

[2022-10-25 11:29] Garanas commented on #4296
The pull request (https://github.com/FAForever/fa/pull/4298) is in review state

[2022-10-25 18:43] relent0r commented on #4296
Historically I haven't used a string search to identify which layer a label belongs to so I don't think having the layer would provide an advantage beyond debugging but you've provided great tools that makes that less relevant anyway. In the current iteration of graph areas they are assigned the same name as the first path marker that is looked at e.g Land_21.

What I'll likely do is create a tabl

[2022-10-25 18:52] relent0r commented on #4297
Since map terrain never changes(beyond flattening) I wouldn't see any problems with static, assuming I'm understanding your question correctly.

[2022-10-26 06:38] Garanas commented on #4296
Proper annotations could help with this situation. It would tell you that `b.label` likely doesn't exist. Let us discuss this over voice, make a few drawings of the intended usage and then we'll finalize the request.

[2022-10-26 06:39] Garanas commented on #4297
Yes - because we could compute for each area what the nearest valid area is. That would make this a quick lookup during gameplay.

[2022-10-27 20:09] #2888 closed

[2022-10-28 19:24] #4296 closed

[2022-10-30 09:48] Garanas opened #4314 "Nav mesh - re-implement the quad tree compression methods"
Description
-------------

The compression is a key component of the navigational mesh. It significantly reduces the amount of memory and computations during run-time. The initial implementation works, but performance-wise it can be improved. We're talking about the `Compress` method of the `CompressedLabelTree` class. At the moment of writing, you can find it on line 281:
- https://github.com/FAF

[2022-10-30 20:26] Zjonn commented on #4295
Hey, @Garanas I can take this one If you don't mind.

[2022-10-30 21:11] Garanas commented on #4295
All yours 😄 !

[2022-10-30 21:34] Garanas opened #4315 "Nav mesh - reduce amount of allocated memory for compression trees"
_This issue is under construction and is not finished yet._

Description
-------------

This issue involves reducing the memory overhead of the `CompressionLabelTree`, found here:

- https://github.com/FAForever/fa/blob/deploy/fafdevelop/lua/sim/NavGenerator.lua#L254

Before we proceed it is important to understand that a compression tree is a quad tree, that we use to compress information. Yet, f

[2022-10-31 18:01] Garanas opened #4316 "Create a video on the adjusted control group functionality"
Description
-------------

This issue is not solved by a pull request. It is solved by the production of a video. The goal of the video is to increase the awareness of the community on changes, how those changes are made, how they can give their thoughts about changes being made and how they can contribute themselves.

To help increase awareness we're creating a Youtube playlist to put features in

[2022-11-01 21:34] Garanas commented on #3757
@Hdt80bro I recall a pr that tackled this, is this issue done?

[2022-11-01 21:35] Garanas commented on #3495
A navigational mesh has been implemented instead.

[2022-11-01 21:35] #3495 closed

[2022-11-02 00:58] Hdt80bro commented on #3757
Um... yeah.
I remember looking at this a month and nearly closing it but realizing that there was still one PR open
I can't find it though--all of the effect utilities PR's are merged
How strange.

[2022-11-02 00:58] #3757 closed

[2022-11-02 01:59] relent0r opened #4324 "Change AI multiplier types and defaults"
Note : I would target the Feb 2023 release for these changes

**Describe the feature**
Its long been considered that the cheat multiplier by default is too high, and that having a separate cheat and build multiplier that are adjustable have negative impacts on the AI.

After discussion with another AI dev, they'd like the buildmult and cheatmult to remain separate and I can see their pov. But I'll

[2022-11-02 08:59] MrRowey commented on #1784
@Garanas is this something we still need or can it be closed off ?

[2022-11-02 10:17] Garanas commented on #4324
This sounds good. Would this involve adjusting the lobby options, or would it also involve adjusting logic surrounding the AI?

The lobby options are defined here:
- https://github.com/FAForever/fa/blob/deploy/fafdevelop/lua/ui/lobby/lobbyOptions.lua

[2022-11-02 18:48] relent0r commented on #4324
If sticking to just changing the defaults its purely lobbyOptions. I had a look and found nothing that would break from those.
Changing the default multipliers is purely the two lobbyOptions defaults from say 11 to 6.
The OMNI cheat change again same thing just changing the default from 1 to 2. But having the AI perform half way decent intel gathering so that it wouldn't become a vegetable for the

[2022-11-03 05:08] hahn-kev commented on #4136
@Garanas you mention that an import runs every time a projectile is fired. Why is that? Wouldn't it be better to just import it once? Especially if that import always returns the same thing because the results are cached.

I'm assuming this is so that we can reload files when debugging, but it seems like we should only do that when debugging and in production releases we should just import files o

[2022-11-03 07:01] Hdt80bro commented on #4136
It appears that the blueprint file is passed into the engine as a string and it calls `import` on it. Same things happens for effects.  I don't think there's a way around that.

*NO*
Lua is already an interpreted scripting language so it doesn't make sense to have a preprocessor. In fact, Lua used to have preprocessing long ago and they removed because *preprocessing is awful to deal with*--it mak

[2022-11-03 07:22] hahn-kev commented on #4136
ok that makes sense to me about how the blueprints work. But if that's the case then refactoring all our imports won't change that. We could change all blueprints to make sure the effects are lowercase, but otherwise all the rest of our imports only happen the first time a file is loaded and then never again, meaning that there's essentially no performance benefit at run time? only maybe at load t

[2022-11-03 08:05] Hdt80bro commented on #4136
You're right that it's an extremely small gain, and most of it happens when loading (note that any improvement to loading times is appreciated however). There are still places that use the `import` function inside of function calls that don't happen while loading a file though--running a quick count, I see about 1000 such uses.

[2022-11-03 18:06] #4278 closed

[2022-11-03 19:44] #4136 closed

[2022-11-04 13:48] #4213 closed

[2022-11-05 10:02] ChessBerry opened #4335 "T1 Power Generator Simultaneous Explosion Inconsistency"
If you ctrl+k a bunch of adjacent t1 power generators, they sometimes deal damage to each other's wrecks, reducing the reclaim they leave behind. While well known, it seems that sera t1 pgens, and only sera t1 pgens are for some reason immune to that:

Aeon:
![Screenshot_3](https://user-images.githubusercontent.com/90977374/200113741-f3e70d39-1a34-4996-8b78-520a3d5c0890.png)

Uef (note the "16" mi

[2022-11-05 10:31] Garanas commented on #4335
![image](https://user-images.githubusercontent.com/15778155/200115404-b6390fba-43fb-4877-918d-689fd840ff2c.png)

Seraphim power generators have a small death animation that is played. Death animations in general have a strange interaction with their wrecks, as they are 'immune' for damage during the animation.

If we'd remove the death animation then we'd end up with floating little orbs:

![image

[2022-11-05 10:32] Garanas commented on #4335
This does matter in practice, as people often CTRL + K power generators to reclaim them quicker. This would be a lot more beneficial to do for Seraphim then for other factions.

[2022-11-05 10:33] Garanas commented on #4335
Thinking about it, death animations on volatile structures should likely be removed - it can cause a lot of weirdness.

[2022-11-05 11:00] ChessBerry commented on #4335
I'm not sure this really "matters" even on the highest level, on even the most sim-citiest of maps.
And personally I'd prefer to make the consistent behavior of sera pgens and not the random behavior of the other factions the default, but if that's infeasible of

[2022-11-06 12:18] Garanas commented on #4324
There's also the request to allow lower multipliers (0.9, 0.8, 0.7, etc) - what are your thoughts on that @relent0r ?

[2022-11-06 13:21] EvildrewFAF opened #4344 "Fix TMD spinning around its axis unable to hit missile issue"
**Describe the feature**
Add a minimum range to all TMDs except Aoen. Fixes the issue with TMDs spinning around unable to hit missiles that hit them (UEF most notably). Add MinRadius = 1.5 to the weapon in the blueprint section.

**Expected behavior**
When a missile flies through or hits the TMD, it doesn't spin around on its own axis unable to hit the missile and targets another incoming missile

[2022-11-06 13:23] Garanas commented on #4344
We discussed this in private - @Tagada14 this is technically a balance change, but I don't think it will have any consequences practically. The TMD can't at missiles that are that close.

[2022-11-06 13:26] EvildrewFAF opened #4345 "Fix the Auto overcharge recoil that makes ACUs lose aim of the target."
**Describe the feature**
After an auto OC the ACU's gun stays focused on the target instead its weapon recoiling.

OverCharge = Class(CDFOverchargeWeapon) {},
        AutoOverCharge = Class(CDFOverchargeWeapon) {
            OnWeaponFired = function(self)
                if not self.AA then
                    self.unit:SetWeaponEnabledByLabel('AutoOverCharge', true)
                    self.unit:

[2022-11-06 13:45] RegalEagIe opened #4346 "Feature Request: Repeat Build is on for new factories toggle."
Implement the UI party feature that toggles on repeat build on every factory build as an option, like right clicking on T2 mexes and highers automattically rings it with mass storages.

When you build a new factory --> The repeat build will be toggled on by default, it does not change behavior and can be toggled manually off after, but just makes every new factory start with it.

Example of UI par

[2022-11-06 13:48] Tagada14 commented on #4344
If you don't think it will have any consequences then go ahead

[2022-11-06 13:49] EvildrewFAF opened #4347 "UEF cruiser graphics fix, hatches opening and closing on firing sequence, smoke in sync with missile launches"
**Describe the feature**
In BP change under weapons the muzzle salvo size from 4 to 1.

MuzzleSalvoSize = 1,

Use this code in the script file

UES0202 = Class(TSeaUnit) {
    DestructionTicks = 200,

    Weapons = {
        FrontTurret01 = Class(TDFGaussCannonWeapon) {},
        BackTurret02 = Class(TSAMLauncher) {
            FxMuzzleFlash = EffectTemplate.TAAMissileLaunchNoBackSmoke,
        },

[2022-11-06 13:58] EvildrewFAF opened #4349 "AIFMissileSerpentine04_proj"
**Describe the feature**
A clear and concise description of what the feature is.

**Expected behavior**
If applicable, a clear and concise description of what you expect to happen in various scenario's.

**Screenshots**
If applicable, add screenshots to help explain your feature.

**Additional context**
Add any other context about the feature here.

_This feature request will be read by people tha

[2022-11-06 13:59] #4349 closed

[2022-11-06 13:59] EvildrewFAF commented on #4349
Failed post

[2022-11-06 14:07] Garanas commented on #4346
This sounds like a good candidate for a game option.

[2022-11-06 14:13] mdcobra opened #4350 "Game broken"
After release 3745 the game is completely broken, the game starts to flicker after a while and freezes up. Playing against Sorian AI.

imgur.com/PuAsfKj

[2022-11-06 14:41] EvildrewFAF opened #4351 "Fixes T2 Aoen and Seraphim torpedoes overshooting targets"
**Describe the feature**
To fix Aoen and Seraphim torpedo bombers' projectiles overshooting their target. Use this code in script of their projectiles (SANHeavyCavitationTorpedo01, AANDepthCharge03).

local SHeavyCavitationTorpedo = import('/lua/seraphimprojectiles.lua').SHeavyCavitationTorpedo
local RandomFloat = import('/lua/utilities.lua').GetRandomFloat
local EffectTemplate = import('/lua/Effe

[2022-11-06 15:09] Garanas commented on #4350
We need logs!

![image](https://user-images.githubusercontent.com/15778155/200178755-a51ffa18-ea31-41d8-aa83-87f49cdf8deb.png)

'Show log folder', find the log that matches your game id / timestamp

[2022-11-06 15:11] mdcobra commented on #4350
[game_18454936.log](https://github.com/FAForever/fa/files/9946128/game_18454936.log)

[2022-11-06 15:16] Garanas commented on #4350
Could you record it?

[2022-11-06 16:36] EvildrewFAF opened #4356 "Mobile factories on units that can move and build units"
**Describe the feature**
Adds a mobile factory onto each unit that is able to move and build units. An interlink like we have on kennels-drones needs adding and a picture to replace the placeholder icon worthy of a mobile factory needs adding too. Didn't have the chance to test the mod but based on past experience it should work. Shift click drag to find the mobile factories is the easiest way. Un

[2022-11-06 17:05] Jorgen-P opened #4357 "Game hangs after selecting shield generator for construction"
**Describe the bug**
Crash after selecting T2 shield generator in build menu as UEF (don't remember with which unit). I could select it but less than a second later as I was moving the mouse the game froze. The weird thing is that I was playing with a friend (he played Cybran) who had a very similar crash (also involving building a shield generator), he disconnected and a little while later my gam

[2022-11-06 17:08] mdcobra commented on #4350
No, there is a replay file, but nothing interesting to see there I believe.

[2022-11-06 18:01] Crotalus opened #4360 "Error in EndCommandMode, attempt to set attribute 'isCancel' on boolean"
@Garanas

Uploaded a new version of EM which doesn't hook/overshadow EndCommandMode anymore (in reference to #4332)

I still got an error in fafdevelop though (without any active UI mods)

1. Select ACU
2. Spawn Support Commander from debug menu

Result:

![image](https://user-images.githubusercontent.com/254972/200186947-86b71434-aa22-485c-9bee-11ce86b5cfba.png)

I guess modeData is `true` for so

[2022-11-06 18:06] Garanas commented on #4360
Yes, it is because of the spawn menu 😄 ! We'll fix that.

[2022-11-06 18:09] #4360 closed

[2022-11-06 18:12] Garanas commented on #4357
We're fixing this issue with the hot fix that we're releasing in a minute 👍

[2022-11-06 18:42] Jorgen-P commented on #4357
Great, thanks! I'll go ahead and close this then 👍

[2022-11-06 18:42] #4357 closed

[2022-11-06 20:04] relent0r commented on #4324
Yea I think if we are going down the route of meaningfully improving the AI its a valid request. I wonder if it could also provide a means of having an easy AI without needing to maintain a separate base template and corresponding builders.

From an AI developer standpoint it also provides a great way to test the AI's ability to handle low income scenarios (and in turn improve its economy manageme

[2022-11-06 21:04] 4z0t commented on #4356
Looks promising! Can you post it as sim, so, we can test it?

[2022-11-06 21:27] EvildrewFAF opened #4365 "RAS SACU + RAS Economy Alignments"
RAS SACU and other Economy Alignments:

RAS SACUs are overpowered in the current version of FAF because the RAS upgrade itself is too cheap relative to its yield as compared to Mass Fabs. To explain I will show some mathematical analysis to demonstrate this.
First one has to calculate the correct Mass Energy Equivalence (MEE) to be able with this ratio to uniformly compare apples to oranges. As th

[2022-11-06 21:34] EvildrewFAF commented on #4356
I think I am not the only one whose mods dont work anymore. Something changed in past patches and I am not able to use any of my testing mods anymore. If you can send me an empty shell/template of a mod that will work, I can upload it np :)

[2022-11-06 22:55] Garanas commented on #4350
This should be fixed now - if it still happens you can create a new issue.

[2022-11-06 22:55] #4350 closed

[2022-11-07 02:03] haifron opened #4368 "Seraphim ACU restoration aura doesn't buff air transports"
**Describe the bug**
The seraphim ACU's restoration aura upgrades do not affect air transports, either by giving extra HP or extra HP regen. It does however heal other units that carry/transport units, such as even the stinger (UEF t2 gunship that has a slot for carrying units exactly like air transports).

**To Reproduce**
Spawn a seraphim ACU and any air transport. Give the ACU either restoratio

[2022-11-08 02:13] relent0r commented on #4324
Some interesting points there. There is some good potential for setting AI preferences using the difficulty settings as flags for those numbers instead of trying to maintain multiple base templates. Once you've made it through the current post patch madness I'll put together some thoughts on how we could approach some of this (mainly the macro side).

[2022-11-08 03:17] EvildrewFAF opened #4371 "Megalith sometimes not targeted automatically by units unless you target it manually"
**Describe the bug**
Megalith sometimes not targeted automatically by units unless you target it manually. I have seen this happen a few times in the past year but don't have any other replays handy...

**Evidence in a replay**
Replay #18404567 at 51mins, GC and Chicken walk onto the beach and a Mega is standing there. They ignore it while in sight and range, also ignore it and fire at a sam when

[2022-11-08 03:35] EvildrewFAF opened #4372 "Megalith hitbox rises too fast when it completes and stands up"
Please use the following code to have the 1 second delay on it moving up in line with the time it takes for it to stand up.

XRL0403 = Class(oldXRL0403) {
    OnStartBeingBuilt = function(self, builder, layer)
        oldXRL0403.OnStartBeingBuilt(self, builder, layer)
        self:SetCollisionShape('Box', 0, 1.7, -0.3, 2.5, 1.7, 3.5)
    end,

OnStopBeingBuilt = function(self, builder, layer)

[2022-11-08 03:48] EvildrewFAF opened #4373 "Aoen T3 torpedo bomber speed too high"
**Describe the feature**
Some time ago, who knows when, T3 air speeds were nerfed, ASF, Strat, Scout, but T3 torpedo bomber wasnt, and so strategic bombers have a speed of 17, ASF 22, and T3 torp bombers still have it at 20. Should be have been reduced to 17 or 18 in line with the other speed reductions.

[2022-11-08 04:40] EvildrewFAF opened #4374 "Original Janus bomber fix"
**Describe the feature**
This mod repeals the Janus bomber that drops bomber from the tip of its wings facing backwards and replaces it with the original Janus bomber which drops the bombs facing the right way and dropping from the right area of the plane. The undershoot issue that was the issue it was "fixed" to what we currently have is also fixed.

**Screenshots**
This is what we currently have

[2022-11-08 09:53] Garanas commented on #4324
We'll find those players when the time comes. But I'd also like the stress that the AI doesn't necessarily need to play good, it needs to be fun to play against.

For example, I can't play against m27 AI with my brother because the moment we bump the multiplier he just strat rushes us (a month or two back). Strategically sound, but there's no fun in that in the situation because the only way to pr

[2022-11-08 12:58] EvildrewFAF commented on #4356
It's in the vault for validation/testing as described in the OP.

[2022-11-08 22:58] relent0r opened #4378 "AI Structure Manager"
**Describe the feature**
This feature will introduce an Structure Manager for the FAF default AI. Its goal is to allow the centralized means for the AI to upgrade structures without using the builders or the platoon former manager. It will allow different AI personalities to have different upgrade personalities and change its game play style in regards to upgrading structures.

It will consist of

[2022-11-09 07:13] Garanas commented on #4378
Are there examples of existing structure managers?

[2022-11-09 08:24] relent0r commented on #4378
Not that uses a class (actually dillidalli might but i struggle to follow it along), the other AI's have their own systems. Sprouto did one for LOUD, Swarm uses a derivative of it. But its different in that it runs threads on the units.

The one that I'm doing is based on the one rng uses. I've transferred it to here and stripped out all except the extractor thread and tried to shift most of its d

[2022-11-10 00:35] Azraeel commented on #4378
The one i use i fully able to be put into default without pulling a lot of shit from other places because its completely isolated.

[2022-11-10 00:37] Azraeel opened #4381 "Allow AI Multipler to be typable"
**Describe the feature**
Like in LOUD, where we can type the multiple up to any digit to want including 2.13 for example I'd like to be a feature in FAF to allow for more precise tuning of AI Games

[2022-11-10 00:39] Azraeel opened #4382 "Change AIx Omni Setting to Off by Default instead of On by Default"

[2022-11-10 06:13] Hdt80bro commented on #3664
`metacleanup(false)`
huh, looks like I ran across this as well :)
`metacleanup(dummy)`
I'm not sure what this would do though
`And if you also uncomment __index, then there will be an indecent lot of errors.`
At least for nil, allowing field access is so very useful in chaining and vastly cleans up code. Disabling the rest of the types also keeps the codebase neat somewhat by removing the need for

[2022-11-10 07:57] relent0r opened #4383 "AI Return a table of positions for potential transport drop points."
## Describe the query

This request is for being able to get a group of potential positions for an AI to be able to more intelligently select a drop zone.

The idea is that the AI should make a query to a position on the map. The navmesh should query the imap threat (at a number of specified rings) at the position. It should aim to return positions that would be closest to a certain angle dependin

[2022-11-10 10:30] 4z0t commented on #3664
I actually see this as a problem, not a solution. It may hide some bugs like this. I also don't know how it affects performance.

[2022-11-10 14:29] EvildrewFAF opened #4384 "Transport crash damage inconsistent across tech levels"
T2 transports are able to land and crash on t1 units with minor damage, whereas t1 transports do substantially more damage, even killing labs. This makes no sense. Should be addressed.

![image](https://user-images.githubusercontent.com/46637108/201117658-8065943a-7b7a-43c2-96cf-a8f5e6894fdf.png)

[2022-11-10 18:27] relent0r commented on #4383
Yea there are other things I would do. But they would often depend on other intel data being available so I'd keep it separate. Assault transport drops are not a high success rate thing for AI in general due to fighters/mobile aa not being visible at the time of drop point checking but they do provide an element of fun so I'm wanting to try and make them more reliable.

These are things I would do

[2022-11-11 12:43] Garanas commented on #4382
Duplicate of https://github.com/FAForever/fa/issues/4324

[2022-11-11 17:49] #4344 closed

[2022-11-11 20:39] Hdt80bro commented on #3664
If we decided to make nil access a bug (and introducing bugs isn't recommended - more on why I think it's a bug introduction [which are bad] instead of an error introduction [which are useful] in a bit) then the equivalent code for
[code]
would be have to be changed to
[code]
As you can imagine, this unmaintainable code will only lead to more problems. Since the result is exactly the same when any

[2022-11-11 21:15] relent0r opened #4392 "AI Engineers building too close to factories"
**Describe the bug**
AI engineers are ignoring the footprint of T2+ factories when constructing units. This has been a long standing bug.
The bug does not happen with T1 factories and to my knowledge does not happen in LOUD or the original FA. It is unique to FAF.
I've played with the blueprint values to see how they might affect the placement but could not get it to alter this behaviour.

The AI

[2022-11-12 13:50] Garanas opened #4394 "Patching textures for PBR use"
Description
-------------

Course of action
------------------

Test plan
----------

Learning goals
----------------

Progress
----------

[2022-11-12 21:43] EvildrewFAF commented on #4384
IMO t2 transport was probably a typo when the value was entered and was intended to be 250...

[2022-11-13 01:02] EvildrewFAF opened #4396 "Notha crash damage of 25 inconsistent"
Corsair+Janus both do 200 damage on crash, Notha only 25. Should be changed to 200.
![image](https://user-images.githubusercontent.com/46637108/201500583-1a2d25a3-6a72-4d38-9853-83f6fad71124.png)

[2022-11-13 04:56] EvildrewFAF opened #4397 "Submersed units need a feature to return to their set elevation in their BP"
One issue with submersed units is that when they go through shallower water they rise to pass through and then stay at a higher elevation. Maybe someone can script so they seek to go back down to the elevation in the BP once possible without players having to emerge them and then resubmerge them?
As some bombers have an attack elevation, I suppose there is somewhere in some scribble code that has

[2022-11-13 10:15] Garanas commented on #4396
@Tagada14 all yours 😄

[2022-11-13 10:15] Garanas commented on #4384
@Tagada14 all yours 😄

[2022-11-13 19:30] EvildrewFAF opened #4400 "Absolver: shield disruptor suggested changes"
**Describe the feature**
Reshapes the Absolver into the T2 phase where it would be much more useful in the game as shields start at the T2 phase.

**Expected behavior**
Make it seen more often in game, as I have not seen one in (A)eons.

**Suggested stat changes**
Tech 2 unit
Reverse : 1
Range: 0-55
Damage: 20
DamageToShields: 800 (DPS 400)
Mass: 250
Energy: 1500
Health: 500

[2022-11-13 23:17] JD342 opened #4402 "Custom weapon priorities not working"
**Describe the bug**

Hey I thought it might be helpful to note that since [game version 3745](https://github.com/FAForever/fa/releases/tag/3745) custom target priorities don't work for me.

In ATP I added three extensive lists (`GroundDenial`, `NavalDenial`, and `AirDenial`) in order have my units target the enemy units that I thought would pose the biggest threat for area control, [and other tac

[2022-11-14 10:00] Garanas commented on #4402
This should be fixed with https://github.com/FAForever/fa/pull/4379 , can you confirm that the same happens on the `FAF Develop` game type? The PR you mention ( #4379 ) did not reach production yet

[2022-11-14 18:17] semzer opened #4404 "T3 artillery/ T3 bomber decals are same for every faction"
Hello. So I've encountered the problem that the t3 arty/bomber impact decals are the same for every faction. In the past every faction had their own faction specific decals.

You can join the game and spawn every faction mobile t3 arty to see it for yourself. They all have the same impact decals. Same for some experimental units like Ahwassa, its impact decal is same too.

I expect that every fact

[2022-11-15 10:02] Garanas commented on #4404
I'll look into this 👍

[2022-11-15 20:01] relent0r opened #4411 "AI ArmyPool being disbanded during games."
**Describe the bug**
The AI maintains a special platoon called the 'ArmyPool'. This is where all units go before they are pulled into platoons.
While doing some other work I realized that something was clearing the commands for all structures (extractors, factories etc) randomly. This happens during the PlatoonDisband function.
After troubleshooting I've found that something is disbanding the Army

[2022-11-16 13:20] Prohibitoram commented on #4400
Pretty cool idea.

[2022-11-17 06:17] IceColdCoder opened #4416 "Unit orders being lost or canceled at random during multiplayer games"
**Describe the bug**
Orders, both single and queued are being canceled at random. Affects all command types. If a unit is given a move order it will randomly stop. If a unit is given amn attack order (any type), it will randomly cancel or "lose" the order (I suspect). The issue does not cause any other orders to be issued (eg attack is replace with patrol or somesuch). The lost order can affect mo

[2022-11-17 07:29] Garanas commented on #4416
Actual situation:
![image](https://user-images.githubusercontent.com/15778155/202382927-9d28eaa7-4390-474e-990a-c1588dae1624.png)

Your intel:
![image](https://user-images.githubusercontent.com/15778155/202382991-52da7fb5-c185-4817-b56a-9c1a3f82186c.png)

Your intel when trying to bomb things:
![image](https://user-images.githubusercontent.com/15778155/202383264-2fd418d6-2849-4c58-9678-afded3bd0b3

[2022-11-17 08:39] IceColdCoder commented on #4416
First I tried ground firing in the location where both disruptors and 2 power generators meet at the corner. Then I tried ground firing one of the power generators, then I switched to targeting a unit and tried to bomb the disruptor. All orders were canceled. If I had done a misclick then my bombers would have flown off in some other random direction given that I was in an air fight at the same ti

[2022-11-17 08:55] Garanas commented on #4416
A reproduction of the issue:
https://user-images.githubusercontent.com/15778155/202398955-373f8614-e44b-4305-957b-80b802bbd25c.mp4

This issue is intel. And the reason some people never experience it and others always experience it is likely because some players scout, and some do not. Scouting clears blips that are attached to destroyed units.

When a structure is removed the old blip remains. It

[2022-11-17 08:57] Garanas commented on #4416
@Hdt80bro / @Tagada14 what are your thoughts on this?

[2022-11-17 20:08] #4295 closed

[2022-11-17 20:09] #4402 closed

[2022-11-17 20:10] Garanas commented on #4397
🤔 , I think this is possible but I'm not sure yet. We could have submarines check periodically (say every 5 to 10 seconds) if they are at the correct depth after diving.

[2022-11-17 20:10] Garanas commented on #4324
Missed that bit, apologies for merging it in too early.

[2022-11-17 20:19] EvildrewFAF commented on #4356
![Unit to mobile_factory toggle icon](https://user-images.githubusercontent.com/46637108/202551131-0dab5dd6-99f0-4c62-8d44-a71b96c5a3a7.png)

[2022-11-17 20:32] Tagada14 commented on #4416
If we were to remove the invalid blips it would make it much harder to see if the opponent upgrades a structure. While this weird mechanic of weird intel is questionable game design wise at this point it's pretty much ingrained into FAF and I would be cautious with removing that. Would the player just immediately see the new updated icon eg. T2 land HQ or how would it work?
I definitely agree thou

[2022-11-17 20:43] relent0r commented on #4324
All good, I didn't include the OMNI change in that PR so no negative impact.

[2022-11-17 20:44] EvildrewFAF commented on #4397
A check every 5 seconds sounds good, we'll just have to make sure they don't follow that code while surfaced or in the process of surfacing.

[2022-11-17 21:01] Garanas commented on #4416
If we remove the invalid blip it would appear as if the unit 'is gone' - similar to how blips of mobile units are removed as soon as they are out of radar range.

[2022-11-17 21:11] Strogoo commented on #4356
As I remember Equilibrium mod made by Exotic had this feature too. Did you take his implementation as a base and imprvoved/remade it or just made from scratch? If second, then it might be a good idea to look at both implementations and pick the better one (or combine them, taking better parts from both).

Anyway, some of our lua guys as @4z0t or @Garanas should definitely look at this. Long time a

[2022-11-17 21:15] Tagada14 commented on #4416
That's not acceptable then. You would be able to make your base completely disappear by gifting it to an ally

[2022-11-17 21:46] EvildrewFAF commented on #4356
Yes I extracted ER's stuff from Equilibrium, then made some little changes and now trying to complete it with the features described above with the help of whoever wants to and can assist really. Garanas/Jip and I are already in discussion, he is busy, but if someone else has the time to assist with the coding part, just hit me up. I have a good idea of what code we need but I am not an IT person

[2022-11-17 22:25] Garanas commented on #4416
That would be called cheating though, and easy to spot.

[2022-11-17 22:42] Tagada14 commented on #4416
Upgrading structures would do the same thing. Also when team mate dies in full share it will happen

[2022-11-17 23:06] IceColdCoder commented on #4416
My main concern here is that this isn't actually the issue I was attempt to refer to. I try to create another example. Because queued orders for building, reclaiming, assisting etc are also lost in my own base.

[2022-11-18 02:06] Hdt80bro commented on #4416
I agree that making updates to enemy strategic icons invalidate a player intelligence blips on them doesn't make sense outside of radar range, and has weird interactions with upgrading & gifting.

I actually have a head canon that the commander has a weak long-range radar built into it that military units (and military-grade civilian units) are invisible to because the enemy commander's quantum si

[2022-11-18 08:00] Garanas commented on #4416
Bombers that always ground fire introduces a lot of micromanaging 😄

I'm looking forward to the examples that show what you are referring to. But in this particular case, I'm confident your bombers didn't move forward to attack because the blips were invalid.

Yes, but they also cause this weird situation where you cannot retarget the structure. And that is bad game design / bad game experience

[2022-11-18 10:03] Zjonn commented on #4314
Hey @Garanas, I will take care of this issue, you can assign it to me

[2022-11-18 10:07] #4411 closed

[2022-11-18 15:33] EvildrewFAF opened #4423 "Intel on submerged vs emerged water units"
Radar cannot penetrate water so if radar cannot spot subs below water, why can subs with radar under water detect boats, planes, etc above water using radar in FAF? It makes little sense. If possible, it would be nice to have the Radar deactivated or set to 0 when a navy unit is submerged, and also the Vision radius reduced. This would be particularly noticeable on the Atlantis, tempest f.ex. as i

[2022-11-18 16:08] Tagada14 commented on #4416
IMO it's the lesser of two evils, I would rather not be able to manually target something then have it disappear randomly from my "vision".